doctype html
html
    head
        title 실험실1
        link(rel='stylesheet', href='/stylesheets/style.css')
        style(type='text/css').
          ul{padding-top:5px;}   
          ul li {
          display:inline;    
          border-left:1px solid #999; 
          font:bold 12px Dotum;                
          padding:0 10px;  }
          ul li:first-child{border-left:none;}
          p {display:inline;}
    body 
        li
            a(href='/DM/privateCar') privateCar
            
        h1 전국매물정보
        

        div
            table(border='1')
                thead
                    tr
                        td 브랜드
                        td 차명
                        td 연식
                        td 등록일

                tbody
                    -each row in A
                            tr
                                td= row.carBrand
                                td= row.carName
                                td= row.carAge
                                td= row.carAgeYear +'.'+ row.carAgeMonth
          

        
        ul
            if nowPage==1
                -for(var i=nowPage; i<=nowPage+4; i++)
                    li 
                                    a(href='/DM/A?page='+i)= i
                p
                    a(href='/DM/A?page='+nextPage) 다음 5페이지
            else if nowPage==2||nowPage==3
                p
                    a(href='/DM/A?page='+1) 첫페이지
                -for(var k=1; k<=nowPage-1; k++)   
                    li 
                        a(href='/DM/A?page='+i)= k
                    
                -for(var i=nowPage; i<=5; i++)
                    -for(var k=nowPage-1; k<=nowPage; k++)
                    li 
                        a(href='/DM/A?page='+i)= i 
                p
                    a(href='/DM/A?page='+nextPage) 다음 5페이지
            else if nowPage==4||nowPage==5
                p
                    a(href='/DM/A?page='+1) 첫페이지
                -for(var k=nowPage-2; k<=nowPage-1; k++)
                    li 
                        a(href='/DM/A?page='+i)= k
                -for(var i=nowPage; i<=nowPage+2; i++)
                    li 
                        a(href='/DM/A?page='+i)= i 	
                p
                    a(href='/DM/A?page='+nextPage) 다음 5페이지

            else if nowPage>5
                p
                    a(href='/DM/A?page='+prevPage) 이전 5페이지
                -for(var k=nowPage-2; k<=nowPage-1; k++)
                    li 
                        a(href='/DM/A?page='+i)= k
                -for(var i=nowPage; i<=nowPage+2; i++)
                    li 
                        a(href='/DM/A?page='+i)= i 	
                p
                    a(href='/DM/A?page='+nextPage) 다음 5페이지
                                

                      
                                
        form(action='/DM/A/search' method='get') 


            p 차이름 검색 : 
                input(type='text', name='carName', placeholder='carName')

            p
                input(type='submit') 

