doctype html
html
     head
        title myCart
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/privateCar') Back
        li
            a(href='/DM/myCart') My Cart List 
        h1
            a(href='/DM/allCarList') All Car list

        h1 전국매물정보
        
        h1
            a(href='/DM/allCarListSearch') 검색창

        div
            table(border='1')
                thead
                    tr
                        td 브랜드
                        td 차명
                        td 연식
                        td 등록일
                        td 색상
                        td 주행거리
                        td 내용
                        td 리/현
                        td 제시가
                        td 입금가
                        td 딜러
                        td 찜하기
                        td 상세보기
                tbody
                    -each allCarList in privateCars
                            tr
                                td= allCarList.carBrand
                                td= allCarList.carName
                                td= allCarList.carAge
                                td= allCarList.carAgeYear +'.'+ allCarList.carAgeMonth
                                td= allCarList.carColor
                                td= allCarList.carDistance
                                td= allCarList.carDescription
                                td= allCarList.carCashLease
                                td= allCarList.carPublicPrice
                                td= allCarList.carPrivatePrice
                                td= allCarList.currentUserId
                                td
                                    a(href='/DM/allCarList/'+allCarList.carId+'/cartAdd')  InCart
                                td
                                    a(href='/DM/allCarList/'+allCarList.carId+'/allCarListInfo') 상세보기버튼 
