extends ./layout
block content
    #content
      section#main_myinfo
            h2= '찜하시겠습니까? G63AMG   카레라4S'
            form(action='/DM/allCarList/'+myCart.carId+'/cartAdd' method='post')
              
                p
                    input.button_myinfo(type='submit' value='네')
                    a(href='/DM/myinfo') 
                       button.button_myinfo 아니요