doctype html
html
 body 
      li
          a(href='/DM/privateCar') Back
    h1
       a(href='/DM/myCart') My Cart List 
    h1
       a(href='/DM/allCarList') All Car list
    ul
       each allCarList in privateCars
         li
           a(href='/DM/allCarList/'+allCarList.carId)= allCarList.carName 
           a(href='/DM/allCarList/'+allCarList.carId+'/cartAdd')  InCart
            
           
  artcle
    if allCarList
      h2= allCarList.carName
      = allCarList.carDescription
      div= 'by '+allCarList.carBrand
  
      
   