doctype html
html
     head
        title myCart
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/privateCar') Back
        li
            a(href='/DM/myCart') My Cart List 
        h1
            a(href='/DM/allCarList') All Car list

        h1 매물정보
        div
            table(border='1')
                thead
                        tr
                            td 차사진
                            td 성능지사진
                tbody
                        tr
                            td 브랜드
                            td= allCarList.carBrand
                tbody
                        tr
                            td 차명
                            td= allCarList.carName
                tbody
                        tr
                            td 연식 & 등록연월
                            td= allCarList.carAge +'/' + allCarList.carAgeYear +'.'+ allCarList.carAgeMonth
                tbody
                        tr
                            td 색상
                            td= allCarList.carColor
                tbody
                        tr
                            td 주행거리
                            td= allCarList.carDistance   
                tbody
                        tr
                            td 사고유무
                            td= allCarList.carAccident + ':' + allCarList.carAccidentCheck                             
                tbody
                        tr
                            td 내용
                            td= allCarList.carDescription     
                tbody
                        tr
                            td 보배 URL
                            td 
                tbody
                        tr
                            td SK엔카 URL
                            td 
             
                
        h1 가격정보
        div
            table(border='1')
                thead
                        tr
                            td 신차가
                            td= allCarList.carNewPrice
                tbody
                        tr
                            td 제시가
                            td= allCarList.carPublicPrice
                tbody
                        tr
                            td 입금가
                            td= allCarList.carPrivatePrice
                tbody
                        tr
                            td 리스/현금
                            td= allCarList.carCashLease
                tbody
                        tr
                            td 리스정보
                            td                         
          
                
                
        h1 딜러정보
        div
            table(border='1')
                thead
                        tr
                            td 닉네임
                            td= myInfo.displayName
                tbody
                        tr
                            td 전화번호
                            td= myInfo.phoneNumber
                tbody
                        tr
                            td 지역
                            td= myInfo.area
                tbody
                        tr
                            td 조합
                            td= myInfo.johap
                tbody
                        tr
                            td 상사
                            td= myInfo.companyName
                tbody
                        tr
                            td 직책
                            td= myInfo.position
                
                            
             