doctype html
html
     head
        title 실험실
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/privateCar') privateCar
            
        h1 전국매물정보1
        

        div
            table(border='1')
                thead
                    tr
                        td 브랜드
                        td 차명
                        td 연식
                        td 등록일

                tbody
                    -each row in A
                            tr
                                td= row.carBrand
                                td= row.carName
                                td= row.carAge
                                td= row.carAgeYear +'.'+ row.carAgeMonth
                                
                                