doctype html
html
  head
    style.
      @import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
      // <!-- style 초기화 -->
      * {margin:; padding: 0;}
      ul {padding-left : 0px;}
      li { list-style : none;
      font-size : 18px;
      text-align : center;}
      a {text-decoration:none;}
      img { border : 0;}
      h1 { font-size : 50px; text-align : center;
      font-family: 'Playfair Display SC', serif;}
    // JQuery초기화
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    style.
     // <!-- title -->
      #title{
      width : 960px; margin : 0 auto;
      position : relative;
      }
      //<!-- main_right_car_tab -->
      #main_right_car_tab {
      }
      #main_right_car_tab {
      overflow: hidden;
      position : absolute;
      right: 10px; top: 100px;
      }
      
      // content
      #content {
      width: 960px; margin 0 auto;
      overflow: hidden;
      }
      #main_section {
      width: 800px; 
      float: left;
      border: 1px solid black;  
      }
      #main_left_tab {
      width: 300px; 
      float: left;
      }
     // <!-- footer -->
      #footer {
      }
      #footer {
      width: 960px; 
      position: absolute;
      bottom:0;
      height:50px;
      text-align: center;
      }
      script.
      $(document).ready(function(){
      $('form, h1, h2, h3, li').addClass('login_menu');
      });
      $(document).ready(function(){
      $('footer').addClass('footer');
      });
    script.
      $( function() {
      $( "#accordion" ).accordion();
      } );
      
    style(type='text/css').
      .pagination {display:inline;}
      .pagination1 {padding-top:5px;display:inline;    
      border-left:1px solid #999; 
      font:bold 12px Dotum;                
      padding:0 10px;}   
      
      .pagination2 {
      display:inline;    
      border-left:1px solid #999; 
      font:bold 12px Dotum;                
      padding:0 10px;  }
      
      
          
    body
    header#main_header
      #title
      nav#main_right_car_tab
    
    aside#main_left_tab
        #accordion
            h1 Under Idea
            ul
                li  대표 황민우
                li  Tel 010.3437.2633 
                li  kakaoId underidea
                li  Blog naver.underidea
            h1 Dealer   
            ul
                li
                  a(href='/DM/myinfo')  내 정보 
                li
                  a(href='/DM/privateCar')  내 차고 
                // 판매중과 판매완료 나누기 ajax이용
                li
                  a(href='/DM/companyGroup')  내 상사 
                // 상사매물지, 상사필요서류,상사일정 나누기 ajax이용
                li
                  a(href='/DM/myGroup')  내 그룹 
                li
                  a(href='/DM/myCart')  찜한 차 
                li
                  a(href='#') 리스,보험,협력업체
                li
                  a(href='/DM/masterPage')  관리자페이지  
                li
                  a(href='/DM/userInfo') 사용자찾기
                li
                  a(href='/auth/logout') 로그아웃
                li
                  a(href='/DM/layB') 레이아웃B
            h1 Idea
            ul
                li 
                    a(href='/DM/layB/allCarList')  전국매물정보 
                li 
                    a(href='/DM/leaseCompany')  리스사정보 
                li 
                    a(href='#')  보험사정보 
                li 
                    a(href='#')  신차정보 
                li 
                    a(href='/DM/boardDM')  DM 칼럼 
                li 
                    a(href='/DM/leaseInterestRate')  이자율계산 
                li 
                    a(href='/DM/leaseInterestRate')  리스료계산 
                li 
                    a(href='#')  이전비계산 
          
    #content
          section#main_section
            article
                h2 전국매물정보
        
                h2
                    a(href='/DM/allCarListSearch') 검색창

                div
                    table(border='1')
                        thead
                            tr
                                td 브랜드
                                td 차명
                                td 연식
                                td 등록일
                                td 색상
                                td 주행거리
                                td 내용
                                td 리/현
                                td 제시가
                                td 입금가
                                td 딜러
                                td 찜하기
                                td 상세보기
                        tbody
                            -each allCarList in privateCars
                                    tr
                                        td= allCarList.carBrand
                                        td= allCarList.carName
                                        td= allCarList.carAge
                                        td= allCarList.carAgeYear +'.'+ allCarList.carAgeMonth
                                        td= allCarList.carColor
                                        td= allCarList.carDistance
                                        td= allCarList.carDescription
                                        td= allCarList.carCashLease
                                        td= allCarList.carPublicPrice
                                        td= allCarList.carPrivatePrice
                                        td= allCarList.currentUserId
                                        td
                                            a(href='/DM/allCarList/'+allCarList.carId+'/cartAdd')  InCart
                                        td
                                            a(href='/DM/allCarList/'+allCarList.carId+'/allCarListInfo') 상세보기버튼 
            
                ul.pagination1
                    if nowPage==1
                        -for(var i=nowPage; i<=nowPage+4; i++)
                            li.pagination2
                                            a(href='/DM/layB/allCarList?page='+i)= i
                        p.pagination 
                            a(href='/DM/layB/allCarList?page='+nextPage) 다음 5페이지
                    else if nowPage==2||nowPage==3
                        p.pagination
                            a(href='/DM/layB/allCarList?page='+1) 첫페이지
                        -for(var k=1; k<=nowPage-1; k++)   
                            li.pagination2
                                a(href='/DM/layB/allCarList?page='+i)= k

                        -for(var i=nowPage; i<=5; i++)
                            -for(var k=nowPage-1; k<=nowPage; k++)
                            li.pagination2
                                a(href='/DM/layB/allCarList?page='+i)= i 
                        p.pagination 
                            a(href='/DM/layB/allCarList?page='+nextPage) 다음 5페이지
                    else if nowPage==4||nowPage==5
                        p.pagination
                            a(href='/DM/layB/allCarList?page='+1) 첫페이지
                        -for(var k=nowPage-2; k<=nowPage-1; k++)
                            li.pagination2
                                a(href='/DM/layB/allCarList?page='+i)= k
                        -for(var i=nowPage; i<=nowPage+2; i++)
                            li.pagination2
                                a(href='/DM/layB/allCarList?page='+i)= i 	
                        p.pagination 
                            a(href='/DM/layB/allCarList?page='+nextPage) 다음 5페이지

                    else if nowPage>5
                        p.pagination 
                            a(href='/DM/layB/allCarList?page='+prevPage) 이전 5페이지
                        -for(var k=nowPage-2; k<=nowPage-1; k++)
                            li.pagination2
                                a(href='/DM/layB/allCarList?page='+i)= k
                        -for(var i=nowPage; i<=nowPage+2; i++)
                            li.pagination2
                                a(href='/DM/layB/allCarList?page='+i)= i 	
                        p.pagination 
                            a(href='/DM/layB/allCarList?page='+nextPage) 다음 5페이지
                            
            form(action='/DM/A/search' method='get') 


                p 차이름 검색 : 
                    input(type='text', name='carName', placeholder='carName')

                p
                    input(type='submit')


