doctype html
html
  head
    script(src='/javascripts/jquery-1.11.2.min.js')
    title boardDM
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 boardDM
    form(action='/DM/boardDM/write', method='post', onsubmit='return onWriteSubmit()')
      table(border='1')
        tr
          td 작성자
          td
            input#displayName(type='text', name='displayName', required='')
        tr
          td 제목
          td
            input#title(type='text', name='title', required='')
        tr
          td 내용
          td
            textarea#content(name='content', cols='30', rows='10', required='')
        tr
          td 패스워드
          td
            input#password(type='password', name='password', required='')
        tr
          td(colspan='2')
            button(type='submit') 글쓰기
    script.
      function onWriteSubmit()
      {
      if ( $("#displayName").val().trim() == "" )
      {
      var message = "아이디를 입력해 주세요";
      $("#displayName").val("");
      $("#displayName").focus();
      alert(message);
      return false;
      }
      if ( $("#title").val().trim() == "" )
      {
      var message = "제목을 입력해 주세요";
      $("#title").val("");
      $("#title").focus();
      alert(message);
      return false;
      }
      if ( $("#content").val().trim() == "" )
      {
      var message = "본문 내용을 입력해 주세요";
      $("#content").val("");
      $("#content").focus();
      alert(message);
      return false;
      }
      if ( $("#password").val().trim() == "" )
      {
      var message = "패스워드를 입력해 주세요";
      $("#password").val("");
      $("#password").focus();
      alert(message);
      return false;
      }
      }
