doctype html
html
  head
    script(src='/javascripts/jquery-1.11.2.min.js')
    title boardDMModify
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 boardDMModify
    form(action='/DM/boardDM/modify/'+row.boardId  method='post')
      table(border='1')
       
            input(type='hidden', name='boardId', value='row1.boardId')
            tr 
              td 작성자
              td
                input(type='text', name='displayName', value= 'row1.displayName')
            tr
              td 제목
              td
                input(type='text', name='title', value='row1.title')
            tr
              td 내용
              td
                textarea(name='content', cols='30', rows='10',value='row1.content') 
            tr
              td 패스워드
              td
                input#password(type='password', name='password')
            tr
              td(colspan='2')
                button(type='submit') 글쓰기

