doctype html
html
  head
    script(src='/javascripts/jquery-1.11.2.min.js')
    title boardDM
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 boardDM
    form(action='/DM/boardDM/write', method='post')
      table(border='1')
        tr
          td 작성자
          td
            input(type='text', name='displayName')
        tr
          td 제목
          td
            input(type='text', name='title')
        tr
          td 내용
          td
            textarea(name='content', cols='30', rows='10')
        tr
          td 패스워드
          td
            input(type='password', name='password')
        tr
          td(colspan='2')
            button(type='submit') 글쓰기
    