doctype html
html
  head
    title boardDM
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 boardDM
    a(href='/DM/boardDM/write') 글쓰기로 이동
    br
    br
    div
        table(border='1')
            thead
                tr
                    td 번호
                    td 작성자
                    td 제목
                    td 조회수
                    td 변경일
            tbody
                -each row in rows
                        tr
                            td= row.boardId
                            td= row.displayName
                            td
                                a(href='/DM/boardDM/read/'+row.boardId)= row.title
                            td= row.hit
                            td= row.modidate