doctype html
html
  head
    script(src='/javascripts/jquery-1.11.2.min.js')
    title boardDMRead
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 boardDMRead
      table(border='1')
        input(type='hidden', name='boardId', value='row.boardId')
        tr
          td 작성자
          td= row.displayName
        tr
          td 제목
          td= row.title
        tr
          td 내용
          td= row.content
        tr
          td 변경일
          td= row.modidate
        tr
          td 조회수
          td= row.hit
        tr
          td(colspan='2')
            a(href='/DM/boardDM/modify/'+row.boardId) 글 수정 
            br
            a(href='/DM/boardDM') 리스트로 돌아가기
