doctype html
html
  head
    style.
     // <!-- 초기화 -->
      * {margin:; padding: 0;}
      li { life-style :none;}
      a {text-decoration:none;}
      img { border : 0;}
      p{ font-size : 20px;}
      input[type='text'] { font-size: 25px; border-radius: 5px;}
      input[type='password'] { font-size: 25px; border-radius: 5px;}
    style.
      .login_menu {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
      .footer {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
      $(document).ready(function(){
      $('form, h1, h2').addClass('login_menu');
      });
      $(document).ready(function(){
      $('footer').addClass('footer');
      });
      
      
      
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 딜러아이디어 차량 추가
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/resources/demos/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
      $( function() {
      $( "input" ).checkboxradio();
      } );
    style.
      fieldset {
      border: 0;
      }
      label {
      font-size : 20px;
      display: block;
      margin: 30px 0 0 0;
      }
      .overflow {
      height: 200px;
      }
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
      $( function() {
      $( "#carBrand" ).selectmenu();
      $( "#carMacroSeries" ).selectmenu();
      $( "#carMicroSeries" ).selectmenu();
      $( "#carName" ).selectmenu();
      $( "#carNameSeries" ).selectmenu
      $( "#carColor" ).selectmenu();
      $( "#carAge" ).selectmenu();
      $( "#carAgeYear" ).selectmenu();
      $( "#carAgeMonth" ).selectmenu();
      $( "#carImport" ).selectmenu();
      $( "#carAccident" ).selectmenu();
      $( "#carAgeYear" ).selectmenu();
      $( "#carAgeMonth" ).selectmenu();
      $( "#carImport" ).selectmenu();
      $( "#files" )
      .selectmenu()
      .selectmenu( "menuWidget" )
      .addClass( "overflow" );
      $( "#salutation" ).selectmenu();
      } );
      
    
      
      
      
      
  body
    .demo
      form(action='/DM/privateCar/add' method='post')
        fieldset
          label(for='carBrand') 브랜드 : 
            select#carBrand(name='carBrand')
              option 벤츠
              option BMW
              option 아우디
              option 폭스바겐
              option 이외

            label(for='carMacroSeries') 모델 대분류 : 
              select#carMacroSeries(name='carMacroSeries')
                  option S클래스
                  option E클래스
                  option C클래스
                  option 이외

             label(for='carMicroSeries') 모델 소분류 : 
               select#carMicroSeries(name='carMicroSeries')
                  option S클래스
                  option E클래스
                  option C클래스
                  option 이외

             label(for='carName') 모델 이름 : 
               select#carName(name='carName')
                  option S63AMG
                  option S500 L
                  option S500
                  option S400L
                  option S400
                  option S350d L
                  option S350d
                  option E400
                  option E350d
                  option E220d
                  option E200 AV
                  option E200          
                  option 이외

              label(for='carNameSeries') 모델 세부이름 : 
                select#carNameSeries(name='carNameSeries')
                  option W221
                  option W220
                  option W219
                  option 이외

              p 차 등록 번호 : 
                input(type='text' name='carNumber' placeholder='Car Number')

              label(for='carColor') 색상 : 
                select#carColor(name='carColor')
                  option 검정
                  option 은색
                  option 쥐색
                  option 이외

              p 주행거리 : 
                input(type='text' name='carDistance' placeholder='Car Distance')

              label(for='carAge') 연식 : 
                select#carAge(name='carAge') 
                  option 2017
                  option 2016
                  option 2015
                  option 이외

              label(for='carAgeYear') 최초등록일 년(year) : 
                select#carAgeYear(name='carAgeYear') 
                  option 2017
                  option 2016
                  option 2015
                  option 이외
                  
              label(for='carAgeMonth') 최초등록일 월(month) : 
                select#carAgeMonth(name='carAgeMonth') 
                  option 01
                  option 02
                  option 03
                  option 이외  

              label(for='carImport') 정식/직수 : 
                select#carImport(name='carImport')
                  option 정식출고
                  option 직수입  

              label(for='carAccident') 사고 유무 : 
                select#carAccident(name='carAccident')
                  option 무사고
                  option 사고

              p 교환/판금부위 : 
                select(name='carAccidentCheck')
                  option 휀다
                  option 문  

              p A/S가능여부 : 
                select(name='carAfterService')
                  option 가능
                  option 불가능

              p 신차가격 : 
                input(type='text' name='carNewPrice' placeholder='Car NewPrice')

              p 제시가격 : 
                input(type='text' name='carPublicPrice' placeholder='Car PublicPrice')

              p 입금가격 : 
                input(type='text' name='carPrivatePrice' placeholder='Car PrivatePrice')   

              p 리스 / 현금 : 
                select(name='carCashLease')
                  option 리스
                  option 현금
                  option 리/현

              p 차량 설명 : 
                textarea(name='carDescription' placeholder='carDescription')

              p 차 상태 : 
                select(name='carStatus')
                  option 판매중
                  option 판매완료

              p 전국 매물지 공개 : 
                select(name='allCarList')
                  option yes
                  option no

              p
                input(type='submit')
    .widget
      h2 교환 판금부위
      fieldset
        legend Hotel Ratings: 
        label(for='checkbox-1') 2 Star
        input#checkbox-1(type='checkbox', name='checkbox-1')
        label(for='checkbox-2') 3 Star
        input#checkbox-2(type='checkbox', name='checkbox-2')
        label(for='checkbox-3') 4 Star
        input#checkbox-3(type='checkbox', name='checkbox-3')
        label(for='checkbox-4') 5 Star
        input#checkbox-4(type='checkbox', name='checkbox-4')
      