doctype html
html
 body
  artcle
    h1= 'Delete? '+privateCar.carName
    form(action='/DM/privateCar/'+privateCar.carId+'/delete' method='post')
      p
        input(type='submit' value='YES')
    a(href='/DM/privateCar/'+privateCar.carId) NO