doctype html
html
    body
        artcleprivateCar
            form(action='/DM/privateCar/'+privateCar.carId+'/edit' method='post')
        

              p 브랜드 : 
                select(name='carBrand' value=privateCar.carBrand)
                  option 벤츠
                  option(selected='') BMW 
                  option 아우디
                  option 폭스바겐
                  option 이외

              p 모델 대분류 : 
                select(name='carMacroSeries' value=privateCar.carMacroSeries)
                  option S클래스
                  option E클래스
                  option C클래스
                  option 이외

              p 모델 소분류 : 
                select(name='carMicroSeries' value=privateCar.carMicroSeries)
                  option S클래스
                  option E클래스
                  option C클래스
                  option 이외

              p 모델 이름 : 
                select(name='carName' value=privateCar.carName)
                  option S63AMG
                  option S500 L
                  option S350d
                  option 이외

              p 모델 세부 이름 : 
                select(name='carNameSeries' value=privateCar.carNameSeries)
                  option W221
                  option W220
                  option W219
                  option 이외

              p 차 등록 번호 : 
                input(type='text' name='carNumber' value=privateCar.carNumber  placeholder='Car Number')

              p 색상 : 
                select(name='carColor' value=privateCar.carColor)
                  option 검정
                  option 은색
                  option 쥐색
                  option 이외

              p 주행거리 : 
                input(type='text' name='carDistance' value=privateCar.carDistance  placeholder='Car Distance')

              p 연식 : 
                select(name='carAge' value=privateCar.carAge)
                  option 2017
                  option 2016
                  option 2015
                  option 이외

              p 최초등록일 년(year) :  
                select(name='carAgeYear' value=privateCar.carAgeYear)
                  option 2017
                  option 2016
                  option 2015
                  option 이외
              p 최초등록일 월(month) :  
                select(name='carAgeMonth' value=privateCar.carAgeMonth)
                  option 01
                  option 02
                  option 03
                  option 이외  

              p 정식/직수 :
                select(name='carImport' value=privateCar.carImport)
                  option 정식출고
                  option 직수입  

              p 사고 유무 : 
                select(name='carAccident' value=privateCar.carAccident)
                  option 무사고
                  option 사고

              p 교환/판금부위 : 
                select(name='carAccidentCheck' value=privateCar.carAccidentCheck)
                  option 휀다
                  option 문  

              p A/S가부 : 
                select(name='carAfterService' value=privateCar.carAfterService)
                  option 가능
                  option 불가능

              p 신차가격 : 
                input(type='text' name='carNewPrice' value=privateCar.carNewPrice  placeholder='Car NewPrice')

              p 제시가격 : 
                input(type='text' name='carPublicPrice'
                value=privateCar.carPublicPrice placeholder='Car PublicPrice')

              p 입금가격 : 
                input(type='text' name='carPrivatePrice' value=privateCar.carPrivatePrice  placeholder='Car PrivatePrice')   

              p 리스 / 현금 : 
                select(name='carCashLease' value=privateCar.carCashLease)
                  option 리스
                  option 현금
                  option 리/현

              p 차량 설명 : 
                textarea(name='carDescription' value=privateCar.carDescription  placeholder='carDescription')

              p 차 상태 : 
                select(name='carStatus' value=privateCar.carStatus)
                  option 판매중
                  option 판매완료

              p 전국 매물지 공개 : 
                select(name='allCarList' value=privateCar.allCarList)
                  option yes
                  option no
                  
              p 제출 : 
                input(type='submit')
                
          ul
            li
              a(href='/DM/privateCar') privateCar