doctype html
html
     head
        title myCart
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/privateCar') Back
        li
            a(href='/DM/companyGroup/companyGroupUser') 상사 인원 관리
        li
            a(href='/DM/companyGroup/companyCarList') 상사 차량 관리

        h1 상사 정보
        div
            table(border='1')
                thead
                        tr
                            td 상사 사진
                            td 지역
                            td 조합
                            td 회사 종류
                            td 회사 이름
                            td 전화번호
                            td 주소
                            td 관리자 이름
                            td 관리자 직책
                            td 관리자 전화번호
                            
                 tbody
                    -each row in company
                            tr
                                td 상사 사진
                                td= row.area
                                td= row.johap
                                td= row.companyType
                                td= row.companyName
                                td= row.companyPhoneNumber
                                td= row.companyAddress
                                td= row.directorName
                                td= row.directorPosition
                                td= row.directorPhoneNumber
                                
        h1 상사 필요서류
        div
            table(border='1')
                thead
                        tr
                            td 사업자등록증
                            td 사업자허가증
                            td 상사인감사본
                            td 상사통장사본
                            td 기타1
                            td 기타2
                            td 기타3
                            td 기타4
                            td 기타5
                            td 기타6
                            
                 tbody
                            tr
                                td 사업자등록증
                                td 사업자허가증
                                td 상사인감사본
                                td 상사통장사본
                                td 기타1
                                td 기타2
                                td 기타3
                                td 기타4
                                td 기타5
                                td 기타6
                                
