doctype html
html
  head
    style.
     // <!-- 초기화 -->
      * {margin:; padding: 0;}
      li { life-style :none;}
      a {text-decoration:none;}
      img { border : 0;}
    style.
      .login_menu {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
      .footer {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
      $(document).ready(function(){
      $('form, h1, h2').addClass('login_menu');
      });
      $(document).ready(function(){
      $('footer').addClass('footer');
      });
body
 br
 h1 딜러매니저에 오신 것을 환영합니다.
 h2 상사신청을 받는 페이지입니다. 
 br
 hr
 br
 form(action='/auth/companyGroupRegister' method='post')
     p 지역 : 
        select(name='area')
          option 서울특별시
          option 경기도
          option 인천광역시
          option 강원도
          option 충청북도
          option 충청남도
          option 대전광역시
          option 경상북도
          option 경상남도
          option 대구광역시
          option 울산광역시
          option 부산광역시
          option 전라북도
          option 전라남도
          option 광주광역시
          option 제주도
          option 이외
          
     p 조합명 : 
        select(name='johap')
          option 서울오토갤러리
          option 카서울닷컴
          option 서울강남매매단지
          option 가양오토갤러리
          option 모터시티
          option 서서울모터리움
          option 강남매매단지
          option 이외
    
     p 회사종류 :
        select(name='companyType')
          option 매매상사
          option 리스사
          option 보험사
          option 신차
          option 이외
          
     p 회사명 : 
        input(type='text', name='companyName', placeholder='companyName')
        
     p 핸드폰 번호 : 
        input(type='text', name='companyPhoneNumber', placeholder='companyPhoneNumber')

     p 회사 주소 : 
        input(type='text', name='companyAddress', placeholder='companyAddress')

     p 담당자이름 : 
        input(type='text', name='directorName', placeholder='directorName')

     p 직책 : 
        select(name='directorPosition')
          option 딜러
          option 보험사원
          option 리스사원
          option 사무장
          option 이외 

     p 핸드폰 번호 : 
        input(type='text', name='directorPhoneNumber', placeholder='directorPhoneNumber')
     
     p 아이디 : 
        input(type='text', name='directorUserId', placeholder='directorUserId')

     p
        input(type='submit')

    
     p
        a(href='/auth/login') 첫페이지로 돌아가기