doctype html
html(lang='en')
  head
    style.
      body { 
      background-image: url('http://cfile1.uf.tistory.com/image/1852234E50859B9315042E'); 
      background-color: #D9E5FF;
      
      background-size: 800px;
      background-position:center center; 
      background-repeat:no-repeat;
      
      }
    meta(charset='UTF-8')
    title Calculator
  body
    table
      tr
        th num1
        th
          input#num-1(type='text')
      tr
        td num2
        td
          input#num-2(type='text')
      tr
        td result
        td.result
      tr
        td num4
        td
          input#num-4(type='text')
      tr
        td result1
        td.result1
        
        
    #calc-btn num1 - num2 계산하기
    script(type='text/javascript').
      var calc = document.getElementById("calc-btn");
      console.log(calc);
      calc.addEventListener("click", function(e) {
      var input1 = document.getElementById("num-1").value * 1;
      var input2 = document.getElementById("num-2").value * 1;
      // debugger;
      var result = input1 - input2;
      var resultEle = document.querySelector(".result");
      resultEle.innerHTML = result;
      });
    #calc-btn1 result - num4 계산하기
    script(type='text/javascript').
      var calc-btn1 = document.getElementById("calc-btn1");
      console.log(calc-btn1);
      calc-btn1.addEventListener("click", function(e) {
      var input3 = document.getElementByClass("result").value * 1;
      var input4 = document.getElementById("num-4").value * 1;
      // debugger;
      var result1 = input3 - input4;
      var result1Ele = document.querySelector(".result1");
      result1Ele.innerHTML = result1;
      });
