doctype html
html
  head
    style.
      @import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
      // <!-- style 초기화 -->
      * {margin:; padding: 0;}
      ul {padding-left : 0px;}
      li { list-style : none;
      font-size : 18px;
      text-align : center;}
      a {text-decoration:none;
      }
      img { border : 0;}
      h1 { font-size : 50px; text-align : center;
      font-family: 'Playfair Display SC', serif;}
      body { 
      background-image: url('http://cfile4.uf.tistory.com/image/0229E84850E535A041B0EB'); 
      background-size: 1000px 800px;
      background-position:right center; 
      background-repeat:no-repeat;
      
      }
    // JQuery초기화
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    style.

     // <!-- title -->
      #title{
      width : 960px; margin : 0 auto;
      position : relative;
      }
      //<!-- main_right_car_tab -->
      #main_right_car_tab {
      }
      #main_right_car_tab {
      overflow: hidden;
      position : absolute;
      right: 10px; top: 100px;
      }
      
      // content
      #content {
      width: 960px; margin 0 auto;
      overflow: hidden;
      }
      #main_section {
      width: 600px; 
      float: right;
      border: 1px solid black;  
      }
      #main_left_tab {
      width: 300px; 
      float: left;
      }
     // <!-- footer -->
      #footer {
      }
      #footer {
      width: 960px; 
      position: absolute;
      bottom:0;
      height:50px;
      text-align: center;
      }
      
      line-height:200%;

      script.
      $(document).ready(function(){
      $('form, h1, h2, h3, li').addClass('login_menu');
      });
      $(document).ready(function(){
      $('footer').addClass('footer');
      });
    script.
      $( function() {
      $( "#accordion" ).accordion();
      } );
    
    
    
    
    
    
    
    
    
  body
    header#main_header
      #title
      nav#main_right_car_tab
    
    aside#main_left_tab
        #accordion
            h1(style='line-height:50%') Under Idea
            ul
                li  대표 황민우
                li  Tel 010.3437.2633 
                li  KakaoId underidea
                li  Blog naver.underidea
                li
                  a(href='/dealeridea/notice')  언더아이디어 소개 및 공지
            h1(style='line-height:50%') Dealer   
            ul
                li
                  a(href='/dealeridea/myinfo')  내 정보 
                li
                  a(href='/dealeridea/privateCar')  내 차고 
                // 판매중과 판매완료 나누기 ajax이용
                li
                  a(href='/dealeridea/companyGroup')  내 상사 
                // 상사매물지, 상사필요서류,상사일정 나누기 ajax이용
                li
                  a(href='/dealeridea/myGroup')  내 그룹 
                li
                  a(href='/dealeridea/myCart')  찜한 차 
                li
                  a(href='#') 리스,보험,협력업체
                li
                  a(href='/dealeridea/userInfo') 사용자찾기
                li
                  a(href='/dealeridea/layB') 레이아웃B
            h1(style='line-height:50%') Idea
            ul
                li 
                    a(href='/dealeridea/layB/allCarList?page=1')  전국매물정보 
                li 
                    a(href='/dealeridea/leaseCompany')  리스사정보 
                li 
                    a(href='#')  보험사정보 
                li 
                    a(href='#')  신차정보 
                li 
                    a(href='/dealeridea/boardDM')  DM 칼럼 
                li 
                    a(href='/dealeridea/leaseInterestRate')  이자율계산 
                li 
                    a(href='/dealeridea/leaseInterestRate')  리스료계산 
                li 
                    a(href='#')  이전비계산 
   