doctype html
html
  head
    style.
      // <!-- style 초기화 -->
      * {margin:; padding: 0;}
      li { life-style :none;}
      a {text-decoration:none;}
      img { border : 0;}
      h1 { position : relative;
            font-size :50px; 
            left : 50px;}
            
      h5 { position : relative;
            font-size :12px; 
            left : 50px;}        
    // JQuery초기화
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    style
     // <!-- title -->
      #title{
      width : 960px; margin : 0 auto;
      position : relative;
      text-align: center;
      }
      //<!-- main_right_car_tab -->
      #main_right_car_tab {
      }
      #main_right_car_tab {
      overflow: hidden;
      position : absolute;
      right: 10px; top: 180px;
      font-size : 20px;
      }
      
      // content
      #content {
      width: 960px; margin 0 auto;
      overflow: hidden;
      }
      #main_section {
      width: 960px; 
      float: right;
      padding: 20px;
      border: 1px solid black;  
      }
      #main_left_tab {
      overflow: hidden;
      position : absolute;
      right: 10px; top: 60px;
      font-size : 20px;
      }
     // <!-- footer -->
      #footer {
      }
      #footer {
      width: 960px; 
      position: absolute;
      bottom:0;
      height:50px;
      text-align: center;
      }
      
    body
    header#main_header
      #title
        h1 Dealer 
        hr
        h1 Idea 
        hr
        h5 Of the Dealer, By the Dealer, For the Dealer
      nav#main_right_car_tab
        a(href='/DM/allCarList')  전국매물정보 
        |  ||
        a(href='/DM/leaseCompany')  리스사정보 
        |  ||
        a(href='#')  보험사정보 
        |  ||
        a(href='#')  신차정보 
        |  ||
        a(href='/DM/boardDM')  DM 칼럼 
        |  ||
        a(href='/DM/leaseInterestRate')  이자율계산 
        |  ||
        a(href='/DM/leaseInterestRate')  리스료계산 
        |  ||
        a(href='#')  이전비계산 
    hr
    br
    aside#main_left_tab
      
        a(href='/DM/myinfo')  내 정보 
        |  ||
        a(href='/DM/privateCar')  내 차고 
        // 판매중과 판매완료 나누기 ajax이용
        |  ||
        a(href='/DM/companyGroup')  내 상사 
        // 상사매물지, 상사필요서류,상사일정 나누기 ajax이용
        |  ||
        a(href='/DM/myGroup')  내 그룹 
        |  ||
        a(href='/DM/myCart')  찜한 차 
        |  ||
        a(href='#')  협력업체 
        |  ||
        a(href='#')  리스직원 
        |  ||
        a(href='#')  보험직원 
        |  ||
        a(href='/DM/masterPage')  관리자페이지  
        |  ||
        a(href='/DM/userInfo') 사용자찾기
        
        
    
        
    #content
      section#main_section
        article
            h2
                a(href='/DM/privateCar') Car list

    
    footer#footer
      h2  Under Idea 
      p  대표 황민우 || 문의 Tel. 010.3437.2633 || Kakaotalk Id. underidea 
 