extends ./layout
block content  
    #content
        section#main_layBallCarList 
            h2 전국매물정보
        
            table(align = 'center').allCarList
                h3   검색메뉴

                tbody
                    tr
                        form(method='post', action='')
                            th(scope='cols') 차명
                            td(scope='cols')  
                                select.select_join2(name='carBrand')
                                    option 브랜드
                                    option 벤츠
                                    option BMW
                                    option 아우디
                                    option 폭스바겐
                                    option 이외    
                            
                            td(scope='cols')  
                                select.select_join2(name='carColor')
                                      option 모델 대분류
                                      option 검정
                                      option 은색
                                      option 쥐색
                                      option 이외
                            
                            td(scope='cols')  
                                select.select_join2(name='carBrand')
                                    option 모델 소분류
                                    option 벤츠
                                    option BMW
                                    option 아우디
                                    option 폭스바겐
                                    option 이외    
                            
                            td(scope='cols')  
                                select.select_join2(name='carColor')
                                      option 모델 이름
                                      option 검정
                                      option 은색
                                      option 쥐색
                                      option 이외
                            
                            td(scope='cols')  
                                select.select_join2(name='carColor')
                                      option 모델 세부이름
                                      option 검정
                                      option 은색
                                      option 쥐색
                                      option 이외
                        
                        
                tbody
                    tr
                        form(method='post', action='')
                            th(scope='cols') 기타
                            td(scope='cols')  
                                select.select_join2(name='carBrand')
                                    option 연식(~부터)
                                    option 벤츠
                                    option BMW
                                    option 아우디
                                    option 폭스바겐
                                    option 이외    
                            
                            td(scope='cols')  
                                select.select_join2(name='carColor')
                                      option 연식(~까지)
                                      option 검정
                                      option 은색
                                      option 쥐색
                                      option 이외
                            
                            td(scope='cols')  
                                select.select_join2(name='carBrand')
                                    option 색상
                                    option 벤츠
                                    option BMW
                                    option 아우디
                                    option 폭스바겐
                                    option 이외    
                            
                            td(scope='cols')  
                                select.select_join2(name='carColor')
                                      option 지역
                                      option 검정
                                      option 은색
                                      option 쥐색
                                      option 이외
                            
                            td(scope='cols')  
                                select.select_join2(name='carColor')
                                      option 조합
                                      option 검정
                                      option 은색
                                      option 쥐색
                                      option 이외        
                        
            p 추가입력 : 
                input(type='text', name='carName', placeholder='딜러이름, 차량번호, 폰번호') 
                input(type='submit')         
                        
                        
            article

                div
                    table.allCarList_list
                        thead
                            tr
                              th(scope='cols') 사진
                              th(scope='cols') 차량
                              th(scope='cols') 내용
                              th(scope='cols') 리/현
                              th(scope='cols') 제시/입금 
                              th(scope='cols') 딜러
                              th(scope='cols') 확인
                           
                        tbody
                            -each allCarList in privateCars
                                    tr
                                        td(width='100') 사진
                                        td(width='220')= allCarList.carBrand +' '+ allCarList.carName
                                                       br
                                                       = allCarList.carNumber + ' ' + allCarList.carDistance + ' ' + allCarList.carColor
                                                       br
                                                       = allCarList.carAge+'년식'+' '+ allCarList.carAgeYear +'년'+' '+ allCarList.carAgeMonth+'월 등록' 
                                                       br
                                                       = allCarList.carAccident+'  '+allCarList.carImport
                                        td(width='200')= allCarList.carDescription
                                        td(width='40')= allCarList.carCashLease
                                        td(width='80')= allCarList.carPublicPrice
                                                      hr
                                                      = allCarList.carPrivatePrice
                                        td(width='100')= '언더아이디어'
                                                      br
                                                      = '딜러아이디어'
                                                      br  
                                                      =allCarList.currentUserId 
                                                      br
                                                      = '01034372633'
                                        td(width='70')
                                            a(href='/DM/allCarList/'+allCarList.carId+'/cartAdd')  찜하기      
                                            p   
                                            a(href='/DM/layBallCarList/'+allCarList.carId+'/allCarListInfo') 상세보기
                                            
                br
                
                
                
                ul.pagination1
                    if nowPage==1
                        -for(var i=nowPage; i<=nowPage+4; i++)
                            li.pagination2
                                            a(href='/DM/layBallCarList?page='+i)= i
                        p.pagination 
                            a(href='/DM/layBallCarList?page='+nextPage) 다음 5페이지
                    else if nowPage==2||nowPage==3
                        p.pagination
                            a(href='/DM/layBallCarList?page='+1) 첫페이지
                        -for(var k=1; k<=nowPage-1; k++)   
                            li.pagination2
                                a(href='/DM/layBallCarList?page='+i)= k

                        -for(var i=nowPage; i<=5; i++)
                            -for(var k=nowPage-1; k<=nowPage; k++)
                            li.pagination2
                                a(href='/DM/layBallCarList?page='+i)= i 
                        p.pagination 
                            a(href='/DM/layBallCarList?page='+nextPage) 다음 5페이지
                    else if nowPage==4||nowPage==5
                        p.pagination
                            a(href='/DM/layBallCarList?page='+1) 첫페이지
                        -for(var k=nowPage-2; k<=nowPage-1; k++)
                            li.pagination2
                                a(href='/DM/layBallCarList?page='+i)= k
                        -for(var i=nowPage; i<=nowPage+2; i++)
                            li.pagination2
                                a(href='/DM/layBallCarList?page='+i)= i 	
                        p.pagination 
                            a(href='/DM/layBallCarList?page='+nextPage) 다음 5페이지

                    else if nowPage>5
                        p.pagination 
                            a(href='/DM/layBallCarList?page='+prevPage) 이전 5페이지
                        -for(var k=nowPage-2; k<=nowPage-1; k++)
                            li.pagination2
                                a(href='/DM/layBallCarList?page='+i)= k
                        -for(var i=nowPage; i<=nowPage+2; i++)
                            li.pagination2
                                a(href='/DM/layBallCarList?page='+i)= i 	
                        p.pagination 
                            a(href='/DM/layBallCarList?page='+nextPage) 다음 5페이지
                            
            form(action='/DM/A/search' method='get') 



