extends ./layout
block content

    #content
        section#main_leaseInterestRate
        

            h2.text_align_center 리스 이자율 계산

            b 이 창은 새로운 창입니다.
            br
            p 설명서를 보시면서 하시는 것이 좋다고 판단하여 설명서는 새로운 창으로 띄어드리고, 이전 창에서 계산기를 사용하시면 됩니다.
            p 설명하는 순서는 
            p 1. 금융리스
            p 2. 운용리스 + 선수금
            p 3. 운용리스 + 차세
            p 4. 유예리스
            p 입니다.
            br
            p 기본적으로 보증금 / 잔존가치가 없는 금융리스 설명서를 보시는게 좋다고 생각합니다. 
            p 이 설명을 이해하시고 나시면 기본적인 운용리스에는 '보증금'과 '잔존가치'만 추가하시면 됩니다.
            p 월 리스료는 차세와 선수금을 제외한 원금 + 이자분입니다. 애초에 원금을 이자율을 이용하여 현재가치(Present Value)화 하면서 리스료를 계산할 때 차세와 선수금이 포함되지 않기 때문입니다. 그 때문에 선수금과 차세는 이자율이나 리스료에 전혀 영향을 주지 않습니다. 
            P 이를 설명하기 위하여 2번과 3번에 선수금과 차세를 추가하였습니다.
            p 미회수원금 1~5는 측정하려는 날짜를 기준으로 5개를 순서대로 적어주시면 됩니다.
            p 리스란 기본적으로 복리 계산법(다음 이자를 계산할 때 원금에 이자가 포함된 상태에서 이자율을 재산출하는 방식)을 이용합니다. 단리로 이자율이 얼마라고 하는 것은 옳지 못한 계산법입니다. 
            br
            p 나중에 리스료에 대하여 자세하게 분석도 한번 해드리겠습니다.
            
             
            img(src='c:Users\User\Desktop\DM\source\images\financeLeaseNormal') 
            img(src="C:Users\User\Desktop\DM\source\images\financeLeaseNormal.png")     
            img(src='../images/financeLeaseNormal.png')
            img(src='../images/financeLeaseNormal.png', width='350', height='500', align='Right', border='10', bordercolor='#333')
            img(src='layBleaseInterestRateManual/financeLeaseNormal', width='350', height='500', align='Right', border='10', bordercolor='#333')

            a(href='/DM/layBleaseInterestRateManual/financeLeaseNormal')
                button.button_manual(type="button") 금융리스
        
            a(href='/DM/layBleaseInterestRateManual/operatingLeasePrepaid')
                button.button_manual(type="button") 운용리스+선수금
            
            a(href='/DM/layBleaseInterestRateManual/operatingLeaseCarTax')
                button.button_manual(type="button") 운용리스+차세
            
            a(href='/DM/layBleaseInterestRateManual/postponementLeaseNormal')
                button.button_manual(type="button") 유예리스


            
                               