extends ./layout
block content

    #content
      section#main_layBprivateCar
        form(method='post', action='')
              table.myinfo
                thead
                    tr
                          th(scope='cols') 타이틀
                          th(scope='cols') 내용
                          th(scope='cols') 타이틀
                          th(scope='cols') 내용
                          
                tbody
                    tr
                            th(scope='cols') 브랜드
                            td(scope='cols')  
                                select.select_join(name='carBrand')
                                    option 벤츠
                                    option BMW
                                    option 아우디
                                    option 폭스바겐
                                    option 포르
                                    option 이외    
                            th(scope='cols') 색상
                            td(scope='cols')  
                                select.select_join(name='carColor')
                                      option 검정
                                      option 은색
                                      option 쥐색
                                      option 이외
               
                    tr
                            th(scope='cols') 모델 대분류
                            td(scope='cols')  
                                select.select_join(name='carMacroSeries')
                                  option S클래스
                                  option E클래스
                                  option C클래스
                                  option 이외
                            th(scope='cols') 연식
                            td(scope='cols')  
                                select.select_join(name='carAge') 
                                  option 2017
                                  option 2016
                                  option 2015
                                  option 이외
               
                    tr
                            th(scope='cols') 모델 소분류
                            td(scope='cols')  
                                select.select_join(name='carMicroSeries')
                                  option S클래스
                                  option E클래스
                                  option C클래스
                                  option 이외
                            th(scope='cols') 최초등록일 년(year)
                            td(scope='cols')  
                                select.select_join(name='carAgeYear') 
                                  option 2017
                                  option 2016
                                  option 2015
                                  option 이외
                 
                    tr
                            th(scope='cols') 모델 이름
                            td(scope='cols')  
                                select.select_join(name='carName')
                                  option S63AMG
                                  option S500 L
                                  option S500
                                  option S400L
                                  option S400
                                  option S350d L
                                  option S350d
                                  option E400
                                  option E350d
                                  option E220d
                                  option E200 AV
                                  option E200          
                                  option 이외
                            th(scope='cols') 최초등록일 월(month)
                            td(scope='cols')  
                                select.select_join(name='carAgeMonth') 
                                  option 01
                                  option 02
                                  option 03
                                  option 이외  
                                  
                    tr
                            th(scope='cols') 모델 세부이름
                            td(scope='cols')  
                               select.select_join(name='carNameSeries')
                                  option W221
                                  option W220
                                  option W219
                                  option 이외
                            th(scope='cols') 정식/직수
                            td(scope='cols')  
                                select.select_join(name='carImport')
                                  option 정식출고
                                  option 직수입          
                                  
                    tr
                            th(scope='cols') 리스 / 현금
                            td(scope='cols')  
                               select.select_join(name='carCashLease')
                                  option 리스
                                  option 현금
                                  option 리/현
                            th(scope='cols') 신차가격
                            td(scope='cols')  
                                input.input_text(type='text' name='carNewPrice' placeholder='만원단위로 써주세요 ')  
                                
                    tr
                            th(scope='cols') A/S가능여부
                            td(scope='cols')  
                               select.select_join(name='carAfterService')
                                  option 가능
                                  option 불가능
                            th(scope='cols') 제시가격
                            td(scope='cols')  
                               input.input_text(type='text' name='carPublicPrice' placeholder='만원단위로 써주세요') 
                                
                    tr
                            th(scope='cols') 사고유무(DB확인)
                            td(scope='cols')  
                               select.select_join(name='carAfterService')
                                  option 무사고
                                  option 사고
                            th(scope='cols') 입금가격
                            td(scope='cols')  
                                input.input_text(type='text' name='carPrivatePrice' placeholder='만원단위로 써주세요')  
                                
                    tr
                            th(scope='cols') 차량 설명
                            td(scope='cols')  
                               textarea.textarea(name='carDescription' placeholder='carDescription')            
                                
                    tr
                            th(scope='cols') 차 상태
                            td(scope='cols')  
                               select.select_join(name='carStatus')
                                  option 판매중
                                  option 판매완료
                            th(scope='cols') 전국 매물지 공개
                            td(scope='cols')  
                                select.select_join(name='allCarList')
                                  option yes
                                  option no
                                
                                
               h2
                    input.button_myinfo(type='submit' value='등록')
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  

              .widget
                  h3 교환 판금부위
                  fieldset
                    legend Hotel Ratings: 
                    label(for='checkbox-1') 2 Star
                    input#checkbox-1(type='checkbox', name='checkbox-1')
                    label(for='checkbox-2') 3 Star
                    input#checkbox-2(type='checkbox', name='checkbox-2')
                    label(for='checkbox-3') 4 Star
                    input#checkbox-3(type='checkbox', name='checkbox-3')
                    label(for='checkbox-4') 5 Star
                    input#checkbox-4(type='checkbox', name='checkbox-4')
            
            
            
            
            
            
              
                                 
               
