extends ./layout
block content   
    #content
        section#main_userInfo
            h2 그룹 인원 정보
            table.allCarList_list
                    thead
                            tr
                                th 닉네임
                                th 지역
                                th 조합
                                th 상사
                                th 직책
                                th 차고                            
                                th 탈퇴
                    tbody 
                          -each user in users
                            tr
                                td(width='150')= user.displayName
                                td(width='150')= user.area
                                td(width='150')= user.johap
                                td(width='150')= user.companyName
                                td(width='100')= user.position
                                td(width='100')
                                    a(href='/DM/layBuserInfo/layBprivateCarList/'+user.id) 차고 
                                td(width='100')
                                    a(href='/DM/layBmyGroup/'+user.groupUserId+'/layBdelete') 탈퇴      