extends ./layout
block content   

    #content
     section#main_myinfo
        div
             h2 내 정보 수정
             br
             br
        h2= '아이디를 삭제하시겠습니까? ' + myinfo.displayName
        br
        h3.text_color_red 삭제시 기록해두신 모든 기록은 사라집니다.
        br
        form(action='/DM/myinfo/delete' method='post')
            p
                input.button_myinfo(type='submit' value='네')
                a(href='/DM/myinfo') 
                   button.button_myinfo 아니요