extends ./layout
block content
    #content
      section#main_myinfo
            h2 리스 이자율 계산
            div 
                table.leaseInterest(border='1')
                    thead
                            tr
                                th 차량명
                                td= row.carName
                                th 총회차
                                td= row.allInning
                    tbody
                            tr
                                th 차량번호
                                td= row.carNumber
                                th 현재회차
                                td= row.nowInning
                            tr
                                th 리스사
                                td= row.leaseCompany
                                th 남은회차
                                td= row.residualInning
                            tr
                                th 리스형식
                                td= row.leaseForm
                                th 월 리스료
                                td= row.leaseFee
                            tr
                                th 기준일
                                td= row.leaseFixedDate
                                th 월 선납금
                                td= row.prePaid
                            tr
                                th 미회수원금
                                td= row.nonPrincipal
                                th 종료시
                                td= row.residualValue
                            tr
                                th 보증금
                                td= row.deposit
                                th 이자율
                                td= row.interestRate.toFixed(5)+row.interestRate2.toFixed(5)+row.interestRate3.toFixed(5)+row.interestRate4.toFixed(5)
                            tr
                                th 잔존가치
                                td= row.residualValue
                                th 총이자
                                td= row.allInterest
                            tr
                                th 순수원금
                                td= row.purePrincipal
                                th 남은선납금
                                td= row.residualPrePaid
                            tr
                                th 선납금제외원금
                                td= row.veryPurePrincipal
                                th 조건변경
                                td= row.conditionChange
            br                        
            div
                table.leaseInterest(border='1')
                    thead
                            tr
                                th 총회차
                                th 리스료
                                th 남은회차
                                th 리스료 x 남은회차

                    tbody
                            tr
                                td= row.allInning
                                td= row.leaseFee
                                td= row.residualInning
                                td= row.leaseFee*row.residualInning
            
            br  
            
            div
                table.leaseInterest(border='1')
                    thead
                            tr
                                th 리스료(원금+이자)
                                th 원금
                                th 이자
                                th 이자율
                                th 미회수원금

                    tbody
                            tr
                                td= row.leaseFee
                                td
                                td 
                                td  
                                td= row.nonPrincipal 
                            tr
                                td= row.leaseFee
                                td= row.nonPrincipal-row.nonPrincipal2
                                td= row.leaseFee - (row.nonPrincipal-row.nonPrincipal2)
                                td= row.interestRate.toFixed(5)
                                td= row.nonPrincipal2
                            tr
                                td= row.leaseFee
                                td= row.nonPrincipal2-row.nonPrincipal3
                                td= row.leaseFee - (row.nonPrincipal2-row.nonPrincipal3)
                                td= row.interestRate2.toFixed(5)
                                td= row.nonPrincipal3  
                            tr
                                td= row.leaseFee
                                td= row.nonPrincipal3-row.nonPrincipal4
                                td= row.leaseFee - (row.nonPrincipal3-row.nonPrincipal4)
                                td= row.interestRate3.toFixed(5)
                                td= row.nonPrincipal4  
                            tr
                                td= row.leaseFee
                                td= row.nonPrincipal4-row.nonPrincipal5
                                td= row.leaseFee - (row.nonPrincipal4-row.nonPrincipal5)
                                td= row.interestRate4.toFixed(5)
                                td= row.nonPrincipal5                          

