extends ./layout
block content 
    #content
      section#main_layBallCarListInfo
        h2 매물상세정보
        div
            table.myinfo
                thead
                        tr
                            td 차사진
                            td 성능지사진
                tbody
                        tr
                            th 브랜드
                            td= allCarList.carBrand
                tbody
                        tr
                            th 차명
                            td= allCarList.carName
                tbody
                        tr
                            th 연식 & 등록연월
                            td= allCarList.carAge +'/' + allCarList.carAgeYear +'.'+ allCarList.carAgeMonth
                tbody
                        tr
                            th 색상
                            td= allCarList.carColor
                tbody
                        tr
                            th 주행거리
                            td= allCarList.carDistance   
                tbody
                        tr
                            th 사고유무
                            td= allCarList.carAccident + ':' + allCarList.carAccidentCheck                             
                tbody
                        tr
                            th 내용
                            td= allCarList.carDescription     
                tbody
                        tr
                            th 보배 URL
                            td 
                tbody
                        tr
                            th SK엔카 URL
                            td 
             
                
        h2 가격정보
        div
            table.myinfo
                tbody
                        tr
                            th 신차가
                            td= allCarList.carNewPrice
                            th 입금가
                            td= allCarList.carPrivatePrice
                            th 리스정보
                            td    
                            
                tbody
                        tr
                            th 제시가
                            td= allCarList.carPublicPrice
                            th 리스/현금
                            td= allCarList.carCashLease
                            th 
                            td                  
          
                
                
        h2 딜러정보
        div
            table.myinfo
                tbody
                        tr
                            th 닉네임
                            td= myInfo.displayName
                            th 지역
                            td= myInfo.area
                            th 상사
                            td= myInfo.companyName
                tbody
                        tr
                            th 전화번호
                            td= myInfo.phoneNumber
                            th 조합
                            td= myInfo.johap
                            th 직책
                            td= myInfo.position
               
                
                    
             