extends ./layout
block content
    #main_layBcompanyGroup
        h2 상사 정보
        div
            table(align='center').companyGroup
                thead
                        tr
                          
                          th(scope='cols') 지역
                          th(scope='cols') 조합
                          th(scope='cols') 회사 종류
                          th(scope='cols') 회사 이름
                          th(scope='cols') 전화번호
                          th(scope='cols') 주소
                            
                 tbody
                    -each row in company
                            tr
                                
                                td(width='100')= row.area
                                td(width='100')= row.johap
                                td(width='100')= row.companyType
                                td(width='120')= row.companyName
                                td(width='100')= row.companyPhoneNumber
                                td(width='250')= row.companyAddress
        h2 관리자 정보
        div
            table(align='center').companyGroup
                thead
                        tr
                          th(scope='cols') 관리자 이름
                          th(scope='cols') 관리자 직책
                          th(scope='cols') 관리자 전화번호
                            
                 tbody
                    -each row in company
                            tr
                                td(width='200')= row.directorName
                                td(width='200')= row.directorPosition
                                td(width='200')= row.directorPhoneNumber
                                
        h2 상사 필요서류
        div
            table(align='center').companyGroup
                thead
                        tr
                          th(scope='cols') 사업자등록증
                          th(scope='cols') 사업자허가증
                          th(scope='cols') 상사인감사본
                          th(scope='cols') 상사통장사본
                          th(scope='cols') 기타1
                          th(scope='cols') 기타2
                          
                        
                            
                 tbody
                            tr
                                td(width='100') 사업자등록증
                                td(width='100') 사업자허가증
                                td(width='100') 상사인감사본
                                td(width='100') 상사통장사본
                                td(width='100') 기타1
                                td(width='100') 기타2
                              
        br
        br
        br
        br
        br
        br
        
        a(href='/DM/layBcompanyGroup/layBcompanyGroupUser') 
                button.button_leaseInterestRate(type="button") 상사멤버 확인
        
        a(href='/DM/layBcompanyGroup/layBcompanyCarList') 
                button.button_leaseInterestRate(type="button") 상사차량 확인
                                
        br
