extends ./layout
block content

    #content
        section#main_leaseInterestRate
        

            h2.text_align_center 리스 이자율 계산

            b 들어가며
            br
            br
            p 지금까지 이자율을 계산하는 것은 리스사 직원에게 물어보는 방법 말고는 없었던 것으로 알고 있습니다. 
            p 그래도 규정으로 인해 이자율을 알 수 없을 경우가 많으며, 확인작업으로 인한 번거로움때문에 알고 싶어도 묻기를 꺼리는 경우가 있었고, 
            p 전에 가지고 있었던 리스표와 비교하여 어림 짐작으로 '이자율이 얼마정도네'하고 넘어가셨을 것입니다. 
            p 심지어 이자율이 더 낮음에도 불구하고 정확히 알 수가 없기 때문에 손님에게는 그저 6-7%정도 될꺼라고 하시는 분들도 계신 것으로 알고있습니다.
            br
            p 리스 차량의 이자율을 아는 것은 큰 무기입니다. 
            p 차량을 매입 할 때나 경쟁차량과의 비교에서 우위를 점할 수 있는 큰 경쟁력입니다. 
            br
            p 웹사이트를 만든 본인은 경영학 그 중에서도 회계학과 재무학 전공입니다. 
            p 딜러아이디어를 사용해주시는 딜러분들의 번거로움을 덜어드리고자 이자율을 계산하는 법을 인터넷에 최초로 올리게 되었습니다. 
            p 일단은 계산기만 올려드리지만 차후에 로그인기능이 생기게 되면 개인별로 갖고 계시는 리스자료들을 저장하고 정산서와 연결시키도록 하여 정산을 편하게 하시도록 돕겠습니다. 
            p 많은 분들이 이용하셔서 리스차를 사오시거나 파실 때 도움이 되기를 바랍니다. 
            br
            p 궁금한 점이 있으시면 문의 부탁드립니다. 
            br
            p.text_color_red (사용자의 실수나 오류로 인하여 이자율이 틀리게 나온 것에 대한 책임은 지지 않습니다. 설명서를 잘 확인하시고 이용 바랍니다.)

            a(href='/DM/layBleaseInterestRateManual', target='_blank')
                button.button_leaseInterestRate(type="button") 설명서
            
            br
            br
            
            a(href='/DM/layBleaseInterestRate/layBleaseInterestRateInsert') 
                button.button_leaseInterestRate(type="button") 이자율계산기

                               