extends ./layB
block content
    #content
      section#main_myinfo
        
        div
            h2 내 정보
            table(align='center').myinfo
                  thead
                        tr
                          th(scope='cols') 타이틀
                          th(scope='cols') 내용
                  tbody
                            tr
                              th(scope='row') 아이디
                              td= myinfo.userId
                            tr
                              th(scope='row') 닉네임
                              td= myinfo.displayName
                            tr
                              th(scope='row') 이름
                              td= myinfo.koreanName
                            tr
                              th(scope='row') 주민등록번호 앞자리
                              td= myinfo.ssnFront
                            tr
                              th(scope='row') 전화번호
                              td= myinfo.phoneNumber
                            tr
                              th(scope='row') 지역
                              td= myinfo.area
                            tr
                              th(scope='row') 조합
                              td= myinfo.johap
                            tr
                              th(scope='row') 회사명
                              td= myinfo.companyName
                            tr
                              th(scope='row') 직책
                              td= myinfo.position
                            
            p 위의 정보는 공개되는 개인정보입니다. 
            p 틀린부분이 있는지 잘 확인해주세요.
                br
                br
                br
                a(href='/DM/layBmyinfo/edit') 
                 button.button_myinfo(type="button") 개인정보수정
                
                a(href='/DM/layBmyinfo/delete') 
                 button.button_myinfo(type="button") 회원탈퇴    
                br
  
        