extends ./layout
block content
    #content
      section#main_layBprivateCar
            div
                h2 판매중 차량
                table.allCarList
                      thead
                            tr
                              th(scope='cols') 상태
                              th(scope='cols') 사진
                              th(scope='cols') 차량
                              th(scope='cols') 내용
                              th(scope='cols') 제시/입금  
                              th(scope='cols') 매물정보
                              th(scope='cols') 확인
                      tbody
                            -each privateCar in privateCars
                                tr
                                  th(width='50')= privateCar.carStatus
                                  td(width='100') 사진
                                  td(width='220')= privateCar.carBrand +' '+ privateCar.carName 
                                                 br
                                                 = privateCar.carNumber +' '+ privateCar.carDistance +' '+privateCar.carColor
                                                 br
                                                 = privateCar.carAge + '년식 ' + ' ' + privateCar.carAgeYear +'년 '+ privateCar.carAgeMonth+'월 등록'
                                                 br
                                                 = privateCar.carAccident+'  ' + privateCar.carImport
                                    
                                  td(width='200')= privateCar.carDescription
                                  td(width='80')= privateCar.carPublicPrice 
                                                hr
                                                = privateCar.carPrivatePrice
                                  
                                  td(width='100')= privateCar.allCarList
                                                 hr 
                                                 B4 B4층 A11
                                  td(width='50')
                                    a(href='/DM/layBprivateCar/'+privateCar.carId) 수정    
                                    p 
                                    a(href='/DM/layBprivateCar/privateCarAccount') 정산서     
 
                br
                h3.text_align_center
                    a(href='/DM/layBprivateCar/add') 
                        button.button_leaseInterestRate(type="button") 차량 추가                   
                br
                h2 판매완료 차량
                table.allCarList
                      thead
                            tr
                              th(scope='cols') 상태
                              th(scope='cols') 사진
                              th(scope='cols') 차량
                              th(scope='cols') 내용
                              th(scope='cols') 제시/입금 
                              th(scope='cols') 매물정보
                              th(scope='cols') 확인
                      tbody
                            -each row in privateCarsSell
                                tr
                                  th(width='70')= row.carStatus
                                  td(width='100') 사진
                                  td(width='220')= row.carBrand +' '+ row.carName 
                                                 br
                                                 = row.carNumber+' '+row.carDistance +' '+row.carColor
                                                 br
                                                 = row.carAge + '년식 ' + ' ' + row.carAgeYear +'년 '+ row.carAgeMonth+'월 등록'
                                                 br
                                                 = row.carAccident+'  ' + row.carImport
                                    
                                  td(width='200')= row.carDescription
                                  td(width='80')= row.carPublicPrice 
                                                hr
                                                = row.carPrivatePrice
                                  
                                  td(width='100')=row.allCarList
                                                 hr
                                                 p 판매
                                  td(width='50')
                                    a(href='/DM/layBprivateCar/'+row.carId) 수정    
                                    p 
                                    a(href='#') 정산서     
