extends ./layout
block content
     #main_layBmyCart
        h2 찜한 차
        div
            table.allCarList
                thead
                    tr
                          th(scope='cols') 사진
                          th(scope='cols') 차량
                          th(scope='cols') 내용
                          th(scope='cols') 리/현
                          th(scope='cols') 제시/입금 
                          th(scope='cols') 딜러
                          th(scope='cols') 확인
                tbody
                    -each myCar in myCart
                            tr
                                td(width='100') 사진 
                                td(width='220')= myCar.carBrand +' '+ myCar.carName
                                               br
                                               = myCar.carNumber + ' ' + myCar.carDistance + ' ' + myCar.carColor
                                               br
                                               = myCar.carAge+'년식'+' '+ myCar.carAgeYear +'년'+' '+ myCar.carAgeMonth+'월 등록' 
                                               br
                                               = myCar.carAccident+'  '+ myCar.carImport
                                td(width='200')= myCar.carDescription
                                td(width='40')= myCar.carCashLease
                                td(width='80')= myCar.carPublicPrice
                                              hr
                                              = myCar.carPrivatePrice
                                td(width='100')= '언더아이디어'
                                              br
                                              = '딜러아이디어'
                                              br  
                                              = myCar.currentUserId 
                                              br
                                              = '01034372633'
                                td(width='70')
                                    a(href='/DM/layBallCarList/'+myCar.carId+'/allCarListInfo') 상세보기
                                    p
                                    a(href='/DM/myCart/'+myCar.carId+'/delete') 삭제
        a(href='#')
            button.button_leaseInterestRate(type="button")인쇄하기 