extends ./layout
block content

    #content
      section#main_layBmyCart
        h2 차량 정산서
        form(method='post', action='')
            table.myinfo
                thead
                    tr
                          th(width='230') 차량 정보
                          th(width='700') 내용
                          
                          
                tbody
                    tr      
                            th 매입일
                            td 17년 5월 1일
                    
                    tr        
                            th 매출일 (입력시 판매완료)
                            td 
                                input(type='date' name='leaseFixedDate', placeholder='leaseFixedDate')
                    tr
                            th 차명
                            td G63AMG
                    tr
                            th 차번호
                            td 11하0000
                            
                    tr
                            th 연식
                            td 2016
                            
                    tr
                            th 색상
                            td 검정
                    
            br
            table.myinfo
                thead
                    tr
                          th(width='200') 정산 정보
                          th(width='700') 내용
                          
                          
                tbody
                    tr
                            th + 미회수원금
                            td 
                                input.input_text(type='text' name='carPrivatePrice' placeholder='원 단위') 
                 
                    tr
                            th - 보증금
                            td 
                                input.input_text(type='text' name='carPrivatePrice' placeholder='원 단위') 
                    
                    tr
                            th = 순수원금 (자동계산)
                            td 
                            
                   
                            
                    tr
                            th + 판매가격
                            td 
                                input.input_text(type='text' name='carPrivatePrice' placeholder='원 단위') 
               
                    tr
                            th - 순수원금
                            td 
                                input.input_text(type='text' name='carPrivatePrice' placeholder='원 단위') 
                 
                    tr
                            th = 인도금 (자동계산)
                            td 
                            
                   
                                  
                    tr
                            th -휠 4개 수리
                            td 240,000 원
                                
                    tr
                            th -광택
                            td 150,000 원
                                
                    tr
                            th -덴트 2개
                            td 50,000 원
                                
                    
                    tr
                            th
                                input.input_text(type='text' name='carPrivatePrice' placeholder='항목') 
                            td 
                                input.input_text(type='text' name='carPrivatePrice' placeholder='원 단위')
                                
                    tr
                            th 
                                input.button_account(type='submit' value='+')
                                input.button_account(type='submit' value='-')
                            td 버튼을 누르면 추가 생성 됩니다. 
                                
                    tr
                            th =총비용 (자동계산)
                            td 440,000 원    
                                    
                            
                            
                    tr
                            th 이자일할계산
                            td 
                            
                    tr
                            th 차세일할계산
                            td
                    
                    tr
                            th =순 수익 (자동계산)
                            td
                                
            br        
            table.myinfo
                thead
                    tr
                          th(width='230') 구매자정보
                          th(width='700') 내용
                          
                          
                tbody        
                    tr
                            th 구매자 이름
                            td 
                                input.input_text(type='text' name='carPrivatePrice' placeholder='입력') 
                                
                    tr
                            th 구매자 전화번호
                            td 
                                input.input_text(type='text' name='carPrivatePrice' placeholder='입력') 
                                
                                
                                
               h2
                    input.button_myinfo(type='submit' value='완료')
                                  
                                  
            
            
            
            
              
                                 
               
