extends ./layout
block content

    #content
      section#main_layBprivateCar
        form(method='post', action='/DM/layBleaseInterestRate/layBleaseInterestRateInsert')
              table.myinfo
                thead
                    tr
                          th(scope='cols') 타이틀
                          th(scope='cols') 내용
                          th(scope='cols') 타이틀
                          th(scope='cols') 내용
                          
                tbody
                    tr
                            th(scope='cols') 차량명
                            td(scope='cols')  
                                input.input_text(type='text' name='carName' placeholder='')   
                                
                            th(scope='cols') 리스사
                            td(scope='cols')  
                                select.select_join(name='leaseCompany')
                                  option 신한캐피탈
                                  option KB캐피탈
                                  option 현대캐피탈
                                  option 이외    
                            
                    tr           
                            th(scope='cols') 차량번호
                            td(scope='cols')  
                                input.input_text(type='text' name='carNumber', placeholder='carNumber')
                                
                            th(scope='cols') 리스형식
                            td(scope='cols')  
                                select.select_join(name='leaseForm')
                                  option 운용리스
                                  option 금융리스
                                  option 유예리스
                                
                    tr
                            th(scope='cols') 총회차
                            td(scope='cols')  
                                input.input_text(type='text' name='allInning', placeholder='allInning')
                            
                            th(scope='cols') 월 리스료
                            td(scope='cols')  
                                input.input_text(type='text' name='leaseFee', placeholder='leaseFee')
                   
                    tr
                            th(scope='cols') 현재회차
                            td(scope='cols')  
                                input.input_text(type='text' name='nowInning', placeholder='nowInning')
                            
                            th(scope='cols') 월 선납금
                            td(scope='cols')  
                               input.input_text(type='text' name='prePaid', placeholder='prePaid')
                               
                    tr
                            th(scope='cols') 기준일
                            td(scope='cols')  
                                input.input_text(type='date' name='leaseFixedDate', placeholder='leaseFixedDate')
                          
                            th(scope='cols') 미회수원금
                            td(scope='cols')  
                                input.input_text(type='text' name='nonPrincipal', placeholder='nonPrincipal')  
                            
                    tr
                            th(scope='cols') 
                            td(scope='cols')  
                                
                                
                            th(scope='cols') 미회수원금2
                            td(scope='cols')  
                               input.input_text(type='text' name='nonPrincipal2', placeholder='nonPrincipal2')
                        
                    tr
                            th(scope='cols') 보증금
                            td(scope='cols')  
                               input.input_text(type='text' name='deposit', placeholder='deposit')
                               
                            th(scope='cols') 미회수원금3
                            td(scope='cols')  
                               input(type='text' name='nonPrincipal3', placeholder='nonPrincipal3')
                                  
                    tr
                            th(scope='cols') 잔존가치
                            td(scope='cols')  
                                input.input_text(type='text' name='residualValue', placeholder='residualValue')
                                
                            th(scope='cols') 미회수원금4
                            td(scope='cols')  
                                input(type='text' name='nonPrincipal4', placeholder='nonPrincipal4')
                                
                    tr            
                            th(scope='cols') 조건변경
                            td(scope='cols')  
                               select.select_join(name='conditionChange')
                                  option 가능
                                  option 불가능
                                  
                            th(scope='cols') 미회수원금5
                            td(scope='cols')  
                               input(type='text' name='nonPrincipal5', placeholder='nonPrincipal5') 
                                  
                            
                 
              input.button_leaseInerestRate(type='submit') 
                                  
                                  
                                  
                                  
                                  
                  
            
              
                                 
               
