extends ./layout
block content   
    #content
        section#main_userInfo
          body
            h2 딜러아이디어 칼럼
            br
            b.text_align_left 들어가며
            br
            br
            p.text_align_left 딜러아이디어는 기본적으로 딜러분들을 위한 웹사이트입니다. 
            p.text_align_left 매 번 바뀌는 세법규정, 알아두면 좋은 정보, 최근 논란이 되는 문제, 직접적으로 궁금해하시는 사항등에 관하여 정리하여 올려드릴 예정입니다.
            p.text_align_left 올려드린 내용들이 이용해주시는 딜러분들께 많은 도움이 되기를 바랍니다.
            br
            br
            div
                table(align = 'center').boardDM
                    thead
                        tr
                            th(width='50') 번호
                            th(width='350') 제목
                            th(width='120') 작성자
                            th(width='60') 조회수
                            th(width='150') 변경일
                    tbody
                        -each row in rows
                                tr
                                    td= row.boardId
                                    td
                                        a(href='/DM/layBboardDM/read/'+row.boardId)= row.title
                                    td= row.displayName
                                    td= row.hit
                                    td= row.modidate
                                    
            a(href='/DM/boardDM/write') 글쓰기로 이동