extends ./layout
block content 
    #content
      section#main_userInfo
        
        h2 사용자 검색
        br
            
        form(action='/DM/layBuserInfo' method='get')


            p 사용자 이름 검색 : 
                input(type='text', name='displayName', placeholder='displayName')

            p
                button.button_myinfo(type='submit') 검색



        table.myinfo
                thead
                        tr
                          th(width='150') 닉네임
                          th(width='150') 지역
                          th(width='150') 조합
                          th(width='150') 상사
                          th(width='150') 직책
                          th(width='150') 차고
                tbody
                      -each row in userInfo
                        tr
                            td= row.displayName
                            td= row.area
                            td= row.johap
                            td= row.companyName
                            td= row.position
                            td
                                a(href='/DM/layBuserInfo/layBprivateCarList/'+row.id) 차고 
                    
             