extends ./layout
block content
    #content
    section#main_leaseInterestRate
    
        .leaseCompany_container
          h2.text_align_center 리스사별 리스 규정
          b 들어가며
          br
          p 매 차를 가져오실 때마다 조건변경이 가능한지, 승계수수료는 얼마인지 헷갈릴 때도 있고, 가져오는 것이 확실치도 않은데 리스사 직원에게 물어보기도 미안할 때가 많으신 것으로 알고 있습니다.
          p 이를 해결해드리고자 딜러아이디어를 사용해주시는 딜러분들을 위하여 리스 규정들을 모아놓았습니다. 
          p 잘 확인하시고 잘 사용하시기를 바랍니다. 
        .leaseCompany_bar
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('kbcapital')") KB캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyundaicapital')") 현대캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hanacapital')") 하나캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('meritz')") 메리츠증권
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('nhcapital')") NH캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('orixcapital')") 오릭스캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyosungcapital')") 효성캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('deutschfinance')") 도이치파이낸셜
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('saneuncapital')") 산은캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('shinhancard')") 신한카드
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('shinhancapital')") 신한캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('cnhcapital')") CNH캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('toyotafinance')") 토요타파이낸셜서비스코리아
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('volksfinance')") 폭스바겐파이낸셜서비스코리아
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('bnkcapital')") BNK캐피탈(전 BS캐피탈)
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('bmwfinance')") BMW파이낸셜서비스코리아
          
        #kbcapital.leaseCompany_container.city
              h2 KB캐피탈
              p KB캐피탈입니다.
              hr
              p 도움주신분
              br
              p 성함 - 
              br
              p 직책 - 
              br
              p 전화번호 - 
              br
              p 지점 - 
        #hyundaicapital.leaseCompany_container.city(style='display:none')
              h2 현대캐피탈
              p 현대캐피탈입니다.
        #hanacapital.leaseCompany_container.city(style='display:none')
              h2 하나캐피탈
              p 하나캐피탈입니다.
              hr
              p 도움주신분
              br
              p 성함 - 
              br
              p 직책 - 
              br
              p 전화번호 - 
              br
              p 지점 - 
              
        #meritz.leaseCompany_container.city(style='display:none')
              h2 메리츠증권
              p 메리츠증권입니다.
        #nhcapital.leaseCompany_container.city(style='display:none')
              h2 NH캐피탈
              p Nh캐피탈입니다.
        #orixcapital.leaseCompany_container.city(style='display:none')
              h2 오릭스캐피탈
              p 오릭스캐피탈입니다.
        #bnkcapital.leaseCompany_container.city(style='display:none')
              h2 BNK캐피탈
              p BNK캐피탈입니다.
        #bmwfinance.leaseCompany_container.city(style='display:none')
              h2 BMW파이낸셜
              p BMW파이낸셜입니다.
        #saneuncapital.leaseCompany_container.city(style='display:none')
              h2 산은캐피탈
              p 산은캐피탈입니다.
        #shinhancard.leaseCompany_container.city(style='display:none')
              h2 신한카드
              p 신한카드입니다.
        #shinhancapital.leaseCompany_container.city(style='display:none')
              h2 신한캐피탈
              p 신한캐피탈입니다.
        #cnhcapital.leaseCompany_container.city(style='display:none')
              h2 CNH캐피탈
              p CNH캐피탈입니다.
        #toyotafinance.leaseCompany_container.city(style='display:none')
              h2 토요타파이낸셜
              p 토요타파이낸셜입니다.
        #volksfinance.leaseCompany_container.city(style='display:none')
              h2 폭스바겐파이낸셜
              p 폭스바겐파이낸셜입니다.
        #hyosungcapital.leaseCompany_container.city(style='display:none')
              h2 효성캐피탈
              p 효성캐피탈입니다.
        #deutschfinance.leaseCompany_container.city(style='display:none')
              h2 도이치파이낸셜
              p 도이치파이낸셜입니다.
        script.
              function openCity(cityName) {
              var i;
              var x = document.getElementsByClassName("city");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              document.getElementById(cityName).style.display = "block";
              }
