extends ./layout
block content   
    #content
      section#main_userInfo
        h1 매물정보
        div
            table(border='1')
                thead
                        tr
                            td 차사진
                            td 브랜드
                            td 차명
                            td 연식
                            td 등록일
                            td 색상
                            td 주행거리
                            td 내용
                            td 리/현
                            td 제시가
                            td 입금가
                            td 딜러
                            td 찜하기
                            td 상세보기
                 tbody
                    -each row in allCarList
                            tr
                                td 차사진
                                td= row.carBrand
                                td= row.carName
                                td= row.carAge
                                td= row.carAgeYear +'.'+ row.carAgeMonth
                                td= row.carColor
                                td= row.carDistance
                                td= row.carDescription
                                td= row.carCashLease
                                td= row.carPublicPrice
                                td= row.carPrivatePrice
                                td= row.currentUserId
                                td
                                    a(href='/DM/allCarList/'+row.carId+'/cartAdd')  찜하기
                                td
                                    a(href='/DM/allCarList/'+row.carId+'/allCarListInfo') 상세보기 

                         
          

