extends ./layout
block content   
    #content
        section#main_userInfo
            h2 내 그룹
            br
            table(align = 'center').boardDM
                    thead
                        tr
                            
                            th(width='350') 내 그룹명
                            th(width='120') 인원확인
                            th(width='120') 신청자확인
                            th(width='150') 그룹삭제
                    tbody
                        -each row in group
                            tr
                                
                                td= row.groupName
                                td
                                    a(href='/DM/layBmyGroup/'+row.groupId+'/layBmyGroupUser') 인원확인
                                td
                                    a(href='/DM/layBmyGroup/'+row.groupId+'/layBmyGroupUserReq') 신청자확인
                                td 
                                    a(href='/DM/myGroup/'+row.groupId+'/myGroupDelete') 그룹삭제
                                    
                                    
            br
            br
            a(href='/DM/layBmyGroup/layBmyGroupRegister') 
                button.button_myinfo(type="button") 새그룹 생성 
            a(href='/DM/layBmyGroup/layBmyGroupSearch') 
                button.button_myinfo(type="button") 그룹 찾기