extends ./layout
block content
    
        .leaseCompany_container
          h2 Tabs
          p
            | Tabs are perfect for single page web applications, or for web pages capable of displaying different subjects. Click on the links below.
        .leaseCompany_bar.leaseCompany_yellow
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('kbcapital')") KB캐피탈
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyundaicapital')") 현대캐피탈
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hanacapital')") 하나캐피탈
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('meritz')") 메리츠증권
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('nhcapital')") NH캐피탈
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('orixcapital')") 오릭스캐피탈
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('bnkcapital')") BNK캐피탈(전 BS캐피탈)
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('bmwfinance')") BMW파이낸셜서비스코리아
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('saneuncapital')") 산은캐피탈
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('shinhancard')") 신한카드
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('shinhancapital')") 신한캐피탈
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('cnhcapital')") CNH캐피탈
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('toyotafinance')") 토요타파이낸셜서비스코리아
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('volksfinance')") 폭스바겐파이낸셜서비스코리아
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyosungcapital')") 효성캐피탈
          button.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('deutschfinance')") 도이치파이낸셜
          
        #kbcapital.leaseCompany_container.city
              h2 KB캐피탈
              p KB캐피탈입니다.
        #hyundaicapital.leaseCompany_container.city(style='display:none')
              h2 Paris
              p Paris is the capital of France.
        #hanacapital.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #meritz.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #nhcapital.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #orixcapital.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #bnkcapital.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #bmwfinance.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #saneuncapital.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #shinhancard.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #shinhancapital.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #cnhcapital.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #toyotafinance.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #volksfinance.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japa
        #hyosungcapital.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        #deutschfinance.leaseCompany_container.city(style='display:none')
              h2 Tokyo
              p Tokyo is the capital of Japan.
        script.
              function openCity(cityName) {
              var i;
              var x = document.getElementsByClassName("city");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              document.getElementById(cityName).style.display = "block";
              }
