doctype html
html
     head
        title myCart
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/leaseInterestRate') Back

        h1 리스 이자율 계산
        div 
            table(border='1')
              -each row in rate
                thead
                        tr
                            td 차량명
                            td= row.carName
                            td 총회차
                            td= row.allInning
                tbody
                        tr
                            td 차량번호
                            td= row.carNumber
                            td 현재회차
                            td= row.nowInning
                        tr
                            td 리스사
                            td= row.leaseCompany
                            td 남은회차
                            td= row.residualInning
                        tr
                            td 리스형식
                            td= row.leaseForm
                            td 월 리스료
                            td= row.leaseFee
                        tr
                            td 기준일
                            td= row.leaseFixedDate
                            td 월 선납금
                            td= row.prePaid
        div
            table(border='1')
              -each row in rate
                thead
                        tr
                            td 미회수원금
                            td= row.nonPrincipal
                            td 종료시
                            td= row.residualValue

                tbody
                        tr
                            td 보증금
                            td= row.deposit
                            td 이자율
                            td= row.interestRate
                        tr
                            td 잔존가치
                            td= row.residualValue
                            td 총이자
                            td= row.allInterest
                        tr
                            td 순수원금
                            td= row.purePrincipal
                            td 남은선납금
                            td= row.residualPrePaid
                        tr
                            td 선납금제외원금
                            td= row.veryPurePrincipal
                            td 조건변경
                            td= row.conditionChange
                                  
        div
            table(border='1')
              -each row in rate
                thead
                        tr
                            td 총회차
                            td 리스료
                            td 남은회차
                            td 리스료 x 남은회차

                tbody
                        tr
                            td= row.allInning
                            td= row.leaseFee
                            td= row.residualInning
                            td= row.leaseFee*row.residualInning
        div
            table(border='1')
              -each row in rate
                thead
                        tr
                            td 리스료(원금+이자)
                            td 원금
                            td 이자
                            td 이자율
                            td 미회수원금

                tbody
                        tr
                            td= row.leaseFee
                            td
                            td 
                            td  
                            td= row.nonPrincipal 
                        tr
                            td= row.leaseFee
                            td= row.nonPrincipal-row.nonPrincipal2
                            td= row.leaseFee - (row.nonPrincipal-row.nonPrincipal2)
                            td= [row.leaseFee-(row.nonPrincipal-row.nonPrincipal2)]*12/row.nonPrincipal 
                            td= row.nonPrincipal2
                        tr
                            td= row.leaseFee
                            td= row.nonPrincipal2-row.nonPrincipal3
                            td= row.leaseFee - (row.nonPrincipal2-row.nonPrincipal3)
                            td= [row.leaseFee - (row.nonPrincipal2-row.nonPrincipal3)]*12/row.nonPrincipal2
                            td= row.nonPrincipal3  
                        tr
                            td= row.leaseFee
                            td= row.nonPrincipal3-row.nonPrincipal4
                            td= row.leaseFee - (row.nonPrincipal3-row.nonPrincipal4)
                            td= [row.leaseFee - (row.nonPrincipal3-row.nonPrincipal4)]*12/row.nonPrincipal3
                            td= row.nonPrincipal4  
                        tr
                            td= row.leaseFee
                            td= row.nonPrincipal4-row.nonPrincipal5
                            td= row.leaseFee - (row.nonPrincipal4-row.nonPrincipal5)
                            td= [row.leaseFee - (row.nonPrincipal4-row.nonPrincipal5)]*12/row.nonPrincipal4
                            td= row.nonPrincipal5                          
                            
                       