doctype html
html
     head
        title myCart
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/privateCar') Back
        li
            a(href='/DM/layBleaseInterestRate/layBleaseInterestRateInsert') Add

        h1 리스 이자율 차 리스트
        div
            table(border='1')
                thead
                    tr
                        td 차Id
                        td 차이름
                                             
                tbody
                    -each row in rate 
                            tr
                                td= row.leaseId
                                td
                                    a(href='/DM/leaseInterestRate/'+row.leaseId)= row.carName
                               