doctype html
html
  head
    style.
     // <!-- 초기화 -->
      * {margin:; padding: 0;}
      li { life-style :none;}
      a {text-decoration:none;}
      img { border : 0;}
    style.
      .login_menu {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
      .footer {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
      $(document).ready(function(){
      $('form, h1, h5').addClass('login_menu');
      });
      $(document).ready(function(){
      $('footer').addClass('footer');
      });
  body
    br
    h1 Dealer Manager
    h5
      | Of the Dealer, By the Dealer, For the Dealer
      br
      br
      |     오직 딜러를 위한 공간
    br
    hr
    br
    form(action='/auth/login', method='post')
      span
        | 딜러인증 후 이용가능합니다.
        br
        |         로그인을 해주세요
      br
      br
      
      p
        input(type='text', name='userId', placeholder='userId')
      p
        input(type='password', name='password', placeholder='password')
      p
        input(type='submit')
      a(href='/auth/register') 회원가입
      |  || 
      a(href='/welcome') 아이디 찾기
      |  || 
      a(href='/welcome') 비밀번호 찾기
      |  || 
      a(href='/auth/companyGroupRegister') 상사 신청 
      |  || 
      a(href='/auth/needsFile') 필요서류
      br
      br
      hr
      p  딜러매니저는 완전히 무료로 전국의 매물정보 및 중고차매매관련 유용한 정보를 얻을 수 있는 공간입니다.
      hr
      footer
        h2  Under Idea 
        p  대표 황민우 || 문의 Tel. 010.3437.2633 || Kakaotalk Id. underidea 
