doctype html
html                    
body
    h1 MasterPageUser
    a(href='/DM/masterPage') 마스터페이지로 돌아가기
    br
    br
    div
        table(border='1')
            thead
                tr
                    td 닉네임
                    td 지역
                    td 조합
                    td 핸드폰번호
                    td Confirm
            tbody
                -each row in masterPage
                        tr
                            td= row.displayName
                            td= row.area
                            td= row.johap
                            td= row.phoneNmumber
                            td
                                    a(href='/DM/masterPage/user/'+row.id+'/confirm') Confirm