doctype html
html
 body
    h1
          a(href='/DM') Back
    ul 관리페이지
         li
           a(href='/DM/masterPage/user') User관리페이지
         li
           a(href='/DM/masterPage/comapany') 회사관리페이지
  