doctype html
html
 body
    h1
           a(href='/DM') 첫페이지로 돌아가기 
    h1
           a(href='/DM/masterPage/user') User 관리페이지로 돌아가기

    form(action='/DM/masterPage/user/'+masterPage.id+'/confirm' method='post')
         p 승인유무 : 
            select(name='confirm'  value=masterPage.confirm)
              option yes
              option no

         p
            input(type='submit')     
