doctype html
html
 body
  artcle
    h1= 'Delete? '+myCart.carId
    form(action='/DM/myCart/'+myCart.carId+'/delete' method='post')
      p
        input(type='submit' value='YES')
    a(href='/DM/myCart/'+myCart.carId) NO