doctype html
html
     head
        title myCart
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/privateCar') Back
        h1
            a(href='/DM/allCarList') All Car list

        h1 찜한 차
        div
            table(border='1')
                thead
                    tr
                        td 브랜드
                        td 차명
                        td 연식
                        td 색상
                        td 내용
                        td 리/현
                        td 제시가
                        td 입금가
                        td 삭제
                tbody
                    -each myCar in myCart
                            tr
                                td= myCar.carBrand
                                td= myCar.carName
                                td= myCar.carAge
                                td= myCar.carColor
                                td= myCar.carDescription
                                td= myCar.carCashLease
                                td= myCar.carPublicPrice
                                td= myCar.carPrivatePrice
                                td
                                    a(href='/DM/myCart/'+myCar.carId+'/delete') delete
