doctype html
html                    
body
    h1 myGroupUserReq
    a(href='/DM/myGroup') myGroup으로 돌아가기
    br
    br
    div
        table(border='1')
            thead
                tr
                    td 그룹id
                    td 닉네임
                    td 지역
                    td 조합
                    td 핸드폰번호
                    td Confirm 
            tbody
                -each row in myGroup
                        tr
                            td= row.groupId
                            td= row.displayName
                            td= row.area
                            td= row.johap
                            td= row.phoneNumber 
                            td
                                    a(href='/DM/myGroup/'+row.groupId+'/myGroupUserReq/'+row.id+'/myGroupReqConfirm') Confirm 
                                