doctype html
html
 body
  artcle
    h3 #{myGroup.displayName}
 
    form(action='/DM/myGroup/'+myGroup.groupId+'/myGroupUserReq/'+myGroup.userId+'/myGroupReqConfirm' method='post')


          p '이 사용자를 가입시키겠습니까?'
             select(value= myGroup.groupConfirm name = 'groupConfirm')
              option yes
              option never
          p
            input(type='submit')
            
     div
            table(border='1')
                thead
                    tr
                        td 그룹Id
                        td 그룹명
                        td 인원확인
                        td 탈퇴
                     
                tbody
                    -each row in myGroup 
                            tr
                                td= row.displayName
                                td= row.groupId
                                td
                                    a(href='/DM/myGroup/'+row.groupId+'/myGroupUser') 인원확인
                                td
                                    a(href='/DM/myGroup/'+myGroup.groupId+'/myGroupListDelete/'+myGroup.id) 탈퇴