doctype html
html
 body
  artcle
    h1= 'Delete? '+myGroup.groupName 
    form(action='/DM/myGroup/'+myGroup.groupId+'/myGroupDelete' method='post')

      p
        input(type='submit' value='YES')
    a(href='/DM/myGroup') NO
    
    