doctype html
html
     head
        title myGroup
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/privateCar') Back
        li
            a(href='/DM/myGroup/myGroupSearch') 그룹찾기
        li
            a(href='/DM/myGroup/myGroupRegister') 새그룹 생성 
        li
            a(href='/DM/myGroup/myGroupList') 내가 가입된 그룹
            
        div
            table(border='1')
                thead
                    tr
                        td 그룹Id
                        td 그룹명
                        td 인원확인
                        td 신청자확인
                        td 그룹삭제
                     
                tbody
                    -each row in group
                            tr
                                td= row.groupId
                                td= row.groupName
                                td
                                    a(href='/DM/myGroup/'+row.groupId+'/myGroupUser') 인원확인
                                td
                                    a(href='/DM/myGroup/'+row.groupId+'/myGroupUserReq') 신청자확인
                                td 
                                    a(href='/DM/myGroup/'+row.groupId+'/myGroupDelete') 그룹삭제
