doctype html
html
 body
  artcle
    h1= '그룹신청을 하시겠습니까? '+myGroup.groupName
    form(action='/DM/myGroup/myGroupSearch/'+myGroup.groupId method='post')
      p
        input(type='submit' value='YES')
    a(href='/DM/myGroup/myGroupSearch/'+myGroup.groupName) NO