doctype html
html
  head
    style.
     // <!-- 초기화 -->
      * {margin:; padding: 0;}
      li { life-style :none;}
      a {text-decoration:none;}
      img { border : 0;}
    style.
      .login_menu {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
      .footer {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
      $(document).ready(function(){
      $('form, h1, h2').addClass('login_menu');
      });
      $(document).ready(function(){
      $('footer').addClass('footer');
      });
body
 br
 h1 딜러매니저에 오신 것을 환영합니다.
 h2 그룹 신청을 받는 페이지입니다. 
 br
 hr
 br
 form(action='/DM/myGroup/myGroupRegister' method='post')
     p 그룹명 : 
        input(type='text', name='groupName', placeholder='groupName')

     p
        input(type='submit')

     p
        a(href='/DM/myGroup') 그룹페이지로 돌아가기