doctype html
html
     head
        title myCart
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/privateCar') Back
        li
            a(href='/DM/myGroup') 이전페이지 
         

        h1 그룹 인원 정보
        div
            table(border='1')
                thead
                        tr
                            td 사용자사진
                            td 닉네임
                            td 지역
                            td 조합
                            td 상사
                            td 직책
                            td 차고
                            td 쪽지보내기
                            td 탈퇴시키기
                tbody
                      -each user in users
                        tr
                            td 사용자사진
                            td= user.displayName
                            td= user.area
                            td= user.johap
                            td= user.companyName
                            td= user.position
                            td
                                a(href='/DM/userInfo/privateCarList/'+user.id) 차고 
                            td 쪽지
                            td
                                a(href='/DM/myGroup/'+user.groupUserId+'/delete') 탈퇴
