doctype html
html
     head
        title myGroupSearch
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/myGroup') Back


        h1 내그룹명 검색 
        
        form(action='/DM/myGroup/myGroupSearch' method='get')


            p 내그룹명 검색 : 
                input(type='text', name='groupName', placeholder='groupName')

            p
                input(type='submit') 



        div
            table(border='1')
                thead
                        tr
                            td 그룹사진
                            td 그룹명
                            td 그룹담당자id
                            td 그룹신청
                tbody
                      -each row in myGroup
                        tr
                            td 그룹사진
                            td= row.groupName
                            td= row.currentUserId
                            td
                                a(href='/DM/myGroup/myGroupSearch/'+row.groupId) 신청보내기 
