doctype html
html
     head
        title myGroup
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/myGroup') Back
        li
            a(href='/DM/myGroup/myGroupSearch') 그룹찾기
        li
            a(href='/DM/myGroup/myGroupRegister') 새그룹 생성 
             
            
        div
            table(border='1')
                thead
                    tr
                        td 그룹Id
                        td 그룹명
                        td 인원확인
                        td 탈퇴
                     
                tbody
                    -each row in myGroup 
                            tr
                                td= row.groupId
                                td= row.groupName
                                td
                                    a(href='/DM/myGroup/'+row.groupId+'/myGroupUser') 인원확인
                                td
                                    a(href='/DM/myGroup/'+myGroup.groupId+'/myGroupListDelete/'+myGroup.id) 탈퇴
