doctype html
html
 body
  artcle
    h1= 'Delete? '+myGroup.groupUserId
    form(action='/DM/myGroup/'+myGroup.groupUserId+'/delete' method='post')
      p
        input(type='submit' value='YES')
    a(href='/DM/myGroup') NO