doctype html
html
 body
  artcle
    form(action='/DM/myGroup/'+myGroup.groupId+'/myGroupListDelete/'+myGroup.userId method='post')

      p
        input(type='submit' value='YES')
    a(href='/DM/myGroup/myGroupList') NO