doctype html
html
  head
    style.
      // <!-- style 초기화 -->
      * {margin:; padding: 0;}
      li { life-style :none;}
      a {text-decoration:none;}
      img { border : 0;}
    // JQuery초기화
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    style.
     // <!-- title -->
      #title{
      width : 960px; margin : 0 auto;
      position : relative;
      }
      //<!-- main_right_car_tab -->
      #main_right_car_tab {
      }
      #main_right_car_tab {
      overflow: hidden;
      position : absolute;
      right: 10px; top: 100px;
      }
      
      // content
      #content {
      width: 960px; margin 0 auto;
      overflow: hidden;
      }
      #main_section {
      width: 750px; 
      float: right;
      padding: 20px;
      border: 1px solid black;  
      }
      #main_left_tab {
      width: 200px; 
      float: left;
      }
     // <!-- footer -->
      #footer {
      }
      #footer {
      width: 960px; 
      position: absolute;
      bottom:0;
      height:50px;
      text-align: center;
      }
    body
    header#main_header
      #title
        h1 Dealer Manager
        h5  Of the Dealer, By the Dealer, For the Dealer
      nav#main_right_car_tab
        a(href='/DM/allCarList')  전국매물정보 
        |  ||
        a(href='/DM/leaseCompany')  리스사정보 
        |  ||
        a(href='#')  보험사정보 
        |  ||
        a(href='#')  신차정보 
        |  ||
        a(href='/DM/boardDM')  DM 칼럼 
        |  ||
        a(href='#')  이자율계산 
        |  ||
        a(href='#')  리스료계산 
        |  ||
        a(href='#')  이전비계산 
    hr
    br
    aside#main_left_tab
      ul
        li
          a(href='/DM/myinfo')  내 정보 
        li
          a(href='/DM/privateCar')  내 차고 
        // 판매중과 판매완료 나누기 ajax이용
        li
          a(href='/DM/companyGroup')  내 상사 
        // 상사매물지, 상사필요서류,상사일정 나누기 ajax이용
        li
          a(href='/DM/myGroup')  내 그룹 
        li
          a(href='/DM/myCart')  찜한 차 
        li
          a(href='#')  협력업체 
        li
          a(href='#')  리스직원 
        li
          a(href='#')  보험직원 
        li
          a(href='/DM/masterPage')  관리자페이지  
        li
          a(href='/DM/userInfo') 사용자찾기
        li
          a(href='/auth/logout') 로그아웃
    #content
      section#main_section
        article
            if myinfo
                h2= myinfo.userId
                p= myinfo.displayName
                br
                p= myinfo.koreanName
                p= myinfo.ssnFront
                p= myinfo.area
                p= myinfo.johap
                p= myinfo.companyName
                p= myinfo.position
                p= myinfo.phoneNumber
        
            a(href='/DM/myinfo/edit') 개인정보수정 
            a(href='/DM/myinfo/delete') 회원탈퇴
      
    
    footer#footer
      h2  Under Idea 
      p  대표 황민우 || 문의 Tel. 010.3437.2633 || Kakaotalk Id. underidea 