doctype html
html
 body
  artcle
    form(action='/DM/myinfo/edit' method='post')
         p 지역 : 
            select(name='area' value='myinfo.area' ,selected='selected') 
              option(value='서울특별시',selected=''  ) 서울특별시
              option(value='경기도',selected='') 경기도
              option(value='인천광역시',selected='') 인천광역시
              option(value='강원도',selected='') 강원도
             
              

         p 조합명 : 
            select(name='johap' value=myinfo.johap)
              option 서울오토갤러리
              option 카서울닷컴
              option 서울강남매매단지
              option 이외

         p 회사명 : 
            input(type='text' value=myinfo.companyName name='companyName', placeholder='companyName')

         p 직책 : 
            select(name='position' value=myinfo.position)
              option 딜러
              option 보험사
              option 리스사
              option 사무장
              option 이외

         p 비밀번호 : 
            input(type='password', value=myinfo.password name='password', placeholder='password')
         p 핸드폰 번호 : 
            input(type='text', value=myinfo.phoneNumber name='phoneNumber', placeholder='phoneNumber')

         p 성별 : 
            select(name='sex' value=myinfo.sex)
              option 남자
              option 여자 
         p
            input(type='submit')     
  ul
    li
      a(href='/DM/myinfo') 돌아가기