doctype html
html
 body
  artcle
    h1= 'Delete? '+myinfo.dispalyName
    form(action='/DM/myinfo/delete' method='post')
        p
            input(type='submit' value='YES')
            a(href='/DM/myinfo') NO