doctype html
html
  head
    style.
     // <!-- 초기화 -->
      * {margin:; padding: 0;}
      li { life-style :none;}
      a {text-decoration:none;}
      img { border : 0;}
    style.
      .login_menu {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
      .footer {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
      $(document).ready(function(){
      $('form, h1, h2, h3, li').addClass('login_menu');
      });
      $(document).ready(function(){
      $('footer').addClass('footer');
      });
    script.
      $( function() {
      $( "#accordion" ).accordion();
      } );
   body
    h2
        a(href='/auth/login') 첫 페이지로 돌아가기
    h2 필요서류를 클릭해주세요
    hr
    #accordion    
        h1 딜러매니저 회원가입 필요서류   
        ul
            li 딜러증 사본
            li 신분증 사본
            li 개인통장 사본
        
        

        h1 딜러매니저 상사신청 필요서류
        ul
            li 사업자 등록증 사본
            li 자동차 매매 허가증 사본
            li 법인 인감 사본
            li 대표이사 신분증 사본
            li 대표이사 통장사본 사본

    hr
    h2 보내주실 곳 Kakaotalk Id. underidea
  