extends ./layout
block content   
    #content
      section#main_userInfo
        h2 상사 개인 매물정보
        div
            table.allCarList_list
                thead
                        tr
                              th(scope='cols') 사진
                              th(scope='cols') 차량
                              th(scope='cols') 내용
                              th(scope='cols') 리/현
                              th(scope='cols') 제시/입금 
                              th(scope='cols') 딜러
                              th(scope='cols') 확인
                 tbody
                    -each allCarLists in allCarList
                                    tr
                                        td(width='100') 사진
                                        td(width='220')= allCarLists.carBrand +' '+ allCarLists.carName
                                                       br
                                                       = allCarLists.carNumber + ' ' + allCarLists.carDistance + ' ' + allCarLists.carColor
                                                       br
                                                       = allCarLists.carAge+'년식'+' '+ allCarLists.carAgeYear +'년'+' '+ allCarLists.carAgeMonth+'월 등록' 
                                                       br
                                                       = allCarLists.carAccident+'  '+allCarLists.carImport
                                        td(width='200')= allCarLists.carDescription
                                        td(width='40')= allCarLists.carCashLease
                                        td(width='80')= allCarLists.carPublicPrice
                                                      hr
                                                      = allCarLists.carPrivatePrice
                                        td(width='120')= '오토갤러리'
                                                      br
                                                      = '아이디어모터스'
                                                      
                                                      br
                                                      = '01034372633'
                                        td(width='70')
                                            a(href='/DM/allCarList/'+allCarLists.carId+'/cartAdd')  찜하기      
                                            p   
                                            a(href='/DM/layBallCarList/'+allCarLists.carId+'/allCarListInfo') 상세보기

                         
          

