doctype html
html
     head
        title myCart
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/privateCar') Back
        li
            a(href='/DM/privateCar/'+privateCar.carId+'/edit') edit
        li
            a(href='/DM/privateCar/'+privateCar.carId+'/delete') delete
        li
            a(href='/DM/privateCar/'+privateCar.carId+'/calculateCar') 정산서



        h1 매물정보
        div
            table(border='1')
                thead
                        tr
                            td 차사진
                            td 성능지사진
                tbody
                        tr
                            td 브랜드
                            td= privateCar.carBrand
                tbody
                        tr
                            td 차명
                            td= privateCar.carName
                tbody
                        tr
                            td 연식 & 등록연월
                            td= privateCar.carAge +'/' + privateCar.carAgeYear +'.'+ privateCar.carAgeMonth
                tbody
                        tr
                            td 색상
                            td= privateCar.carColor
                tbody
                        tr
                            td 주행거리
                            td= privateCar.carDistance   
                tbody
                        tr
                            td 사고유무
                            td= privateCar.carAccident + ':' + privateCar.carAccidentCheck                             
                tbody
                        tr
                            td 내용
                            td= privateCar.carDescription     
                tbody
                        tr
                            td 보배 URL
                            td 
                tbody
                        tr
                            td SK엔카 URL
                            td 
             
                
        h1 가격정보
        div
            table(border='1')
                thead
                        tr
                            td 신차가
                            td= privateCar.carNewPrice
                tbody
                        tr
                            td 제시가
                            td= privateCar.carPublicPrice
                tbody
                        tr
                            td 입금가
                            td= privateCar.carPrivatePrice
                tbody
                        tr
                            td 리스/현금
                            td= privateCar.carCashLease
                tbody
                        tr
                            td 리스정보
                            td                         
          

