doctype html
html
  head
    style.
     // <!-- 초기화 -->
      * {margin:; padding: 0;}
      li { life-style :none;}
      a {text-decoration:none;}
      img { border : 0;}
      p{ font-size : 20px;}
      input[type='text'] { font-size: 25px; border-radius: 5px;}
      input[type='password'] { font-size: 25px; border-radius: 5px;}
    style.
      .login_menu {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
      .footer {
      width:960px; margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      }
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
      $(document).ready(function(){
      $('form, h1, h2').addClass('login_menu');
      });
      $(document).ready(function(){
      $('footer').addClass('footer');
      });
      
      
      
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 딜러아이디어 회원가입
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/resources/demos/style.css')
    style.
      fieldset {
      border: 0;
      }
      label {
      font-size : 20px;
      display: block;
      margin: 30px 0 0 0;
      }
      .overflow {
      height: 200px;
      }
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
      $( function() {
      $( "#area" ).selectmenu();
      $( "#johap" ).selectmenu();
      $( "#position" ).selectmenu();
      $( "#sex" )
      .selectmenu()
      .selectmenu( "menuWidget" )
      .addClass( "overflow" );
      $( "#salutation" ).selectmenu();
      } );
      
      
      
      
      
body
  .demo
      
     br
     h1 딜러아이디어에 오신 것을 환영합니다.
     h2 이용 전에 가입해주시고, 서류를 보내주시면 1~2일 이내에 가입이 완료됩니다.
     br
     hr
     br
     form(action='/auth/register' method='post')
        fieldset
          label(for='area') 지역 : 
            select#area(name='area')
              option(selected='selected') 서울특별시
              option 경기도
              option 인천광역시
              option 강원도
              option 충청북도
              option 충청남도
              option 대전광역시
              option 경상북도
              option 경상남도
              option 대구광역시
              option 울산광역시
              option 부산광역시
              option 전라북도
              option 전라남도
              option 광주광역시
              option 제주도
              option 이외

          label(for='johap')조합명 : 
            select#johap(name='johap')
              option(disabled='', selected='') 선택해주세요
              option 서울오토갤러리
              option 카서울닷컴
              option 서울강남매매단지
              option 이외

        
          label(for='position') 직책 : 
            select#position(name='position')
              option 딜러
              option 보험사
              option 리스사
              option 사무장
              option 이외
              
          label(for='sex') 성별 : 
            select#sex(name='sex')
              option 남자
              option 여자 
              
              
         p 회사명 : 
            input(type='text', name='companyName', placeholder='회사명', style='height:40px;')
      

         p 아이디 : 
            input(type='text', name='userId', placeholder='userId', style='height:40px;')
            
         p 비밀번호 : 
            input(type='password', name='password', placeholder='password', style='height:40px;')
            
         p 비밀번호 확인 : 
            input(type='password', name='passwordConfirm', placeholder='passwordConfirm', style='height:40px;')
         p 핸드폰 번호 : 
            input(type='text', name='phoneNumber', placeholder='phoneNumber', style='height:40px;')

         p 한국이름 : 
            input(type='text', name='koreanName', placeholder='koreanName', style='height:40px;')

         p 주민등록번호 앞자리 : 
            input(type='text', name='ssnFront', placeholder='ssnFront', style='height:40px;')


         p 허가 : 
            select(name='confirm')
              option no

         p 작성 완료 :  
            input(type='submit', size='40', style='height:40px;')


         p
            a(href='/auth/login') 첫페이지로 돌아가기