doctype html
html
     head
        title myCart
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/privateCar') Back
        li
            a(href='/DM/userInfo/userInfoSearch') 사용자검색 

        h1 사용자정보
        div
            table(border='1')
                thead
                        tr
                            td 사용자사진
                            td 닉네임
                            td 지역
                            td 조합
                            td 상사
                            td 직책
                            td 차고
                            td 쪽지보내기
                tbody
                      -each row in userInfo
                        tr
                            td 사용자사진
                            td= row.displayName
                            td= row.area
                            td= row.johap
                            td= row.companyName
                            td= row.position
                            td
                                a(href='/DM/userInfo/privateCarList/'+row.id) 차고 
                            td 쪽지

