doctype html
html
     head
        title UserInfoSearch
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/userInfo') Back


        h1 사용자 검색
        
        form(action='/DM/userInfo/userInfoSearch' method='get')


            p 사용자 이름 검색 : 
                input(type='text', name='displayName', placeholder='displayName')

            p
                input(type='submit') 



        div
            table(border='1')
                thead
                        tr
                            td 사용자사진
                            td 닉네임
                            td 지역
                            td 조합
                            td 상사
                            td 직책
                            td 차고
                            td 쪽지보내기
                tbody
                      -each row in userInfo
                        tr
                            td 사용자사진
                            td= row.displayName
                            td= row.area
                            td= row.johap
                            td= row.companyName
                            td= row.position
                            td
                                a(href='/DM/userInfo/privateCarList/'+row.id) 차고 
                            td 쪽지
